<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_gold_box_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{118,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>boss_gold_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,108},{114,108}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{114,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>boss_gold_box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{118,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_gold_box_a_00.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2172f657b9107af954e7b2681b9977ec$</string>
            <key>textureFileName</key>
            <string>boss_gold_box_a_00.png</string>
        </dict>
    </dict>
</plist>
