<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alphabet_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{72,55}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,55}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,161},{54,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{54,53}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,163},{44,51}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{44,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,110},{56,51}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{56,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,215},{48,51}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{48,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,215},{48,51}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{48,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,216},{48,51}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{48,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{60,51}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{60,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,55},{38,51}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{38,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{38,51}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{38,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,57},{58,51}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{58,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,216},{46,51}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{46,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{64,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{64,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,165},{52,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{52,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,163},{50,53}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{50,53}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,167},{54,51}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{54,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,57},{56,53}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{56,53}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,114},{56,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{56,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,218},{42,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{42,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{54,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{54,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,110},{56,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{56,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,108},{56,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{56,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{76,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{60,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{60,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,55},{58,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{58,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,167},{50,51}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{50,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{70,55}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{70,55}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{64,53}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{64,53}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,219},{34,51}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{34,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,55},{56,53}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{56,53}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,163},{50,53}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{50,53}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,108},{56,53}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{56,53}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,112},{54,53}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{54,53}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,163},{54,51}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{54,51}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,55},{56,53}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{56,53}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,110},{54,53}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{54,53}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{58,53}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{58,53}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{56,53}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{56,53}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>alphabet_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,59},{56,53}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{56,53}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>etc_az_00.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7501a031dc3e1c292bd7726788c36d6$</string>
            <key>textureFileName</key>
            <string>etc_az_00.png</string>
        </dict>
    </dict>
</plist>
