<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_fireball_a_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{48,64}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{48,64}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{48,70}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,70}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,90},{46,76}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{46,76}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,384},{48,84}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{48,84}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,392},{44,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{44,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,204},{44,98}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,98}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,304},{42,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,98}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,410},{44,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{48,94}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,104},{48,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,98}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{48,96}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,96}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{48,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{44,86}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{44,86}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,302},{44,96}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,96}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{44,92}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{44,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,98},{44,92}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{44,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,308},{44,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,96},{46,88}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{46,88}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,186},{48,82}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,82}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,298},{48,92}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,100},{48,94}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,94}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,192},{48,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{48,88}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,204},{48,96}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,96}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,196},{46,92}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{46,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{44,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,98}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{44,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,98}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,200},{42,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{42,96}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0152.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,290},{42,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{42,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0156.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,410},{44,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0160.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{46,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{46,96}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0164.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{44,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0168.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{46,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,400},{48,92}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,92}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{48,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>fx_fireball_a_0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,282},{48,82}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,82}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx_fireball_a_0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9141aa81245b3019a65ace7ea108b878$</string>
            <key>textureFileName</key>
            <string>fx_fireball_a_0.png</string>
        </dict>
    </dict>
</plist>
