<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_poison_a_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,170},{24,34}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{24,34}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,194},{26,38}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{26,38}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,194},{26,40}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{26,40}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,168},{26,42}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{26,42}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,144},{26,44}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,26},{26,44}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{26,44}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{26,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,140},{26,46}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{26,46}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,136},{26,48}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{26,48}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,142},{26,48}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{26,48}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,118},{26,52}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{26,52}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,114},{26,52}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{26,52}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,116},{26,52}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{26,52}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,88},{28,54}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{28,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,108},{28,54}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{28,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,86},{28,54}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{28,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,60},{28,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{28,56}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,60},{28,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{28,56}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,58},{28,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{28,58}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,30},{28,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{28,60}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,30},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,60}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,0},{30,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,62}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{30,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,62}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{30,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,62}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{30,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,62}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{30,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,62}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,30},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,60}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{30,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,60}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{30,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,60}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,88},{30,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{30,52}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,52},{28,46}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{28,46}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_poison_a_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,80},{28,48}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{28,48}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx_poison_a_00.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6ae7c695485e782ff3cb7ef19bb02d3$</string>
            <key>textureFileName</key>
            <string>fx_poison_a_00.png</string>
        </dict>
    </dict>
</plist>
