<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_smoke_a_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,168},{12,12}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{12,12}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_smoke_a_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{22,26}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,38},{22,26}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_smoke_a_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,168},{30,46}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{30,46}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_smoke_a_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{32,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{32,56}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_smoke_a_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{32,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,62}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_smoke_a_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_smoke_a_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_smoke_a_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_smoke_a_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_smoke_a_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,70},{32,54}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_smoke_a_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,36},{32,54}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_smoke_a_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,104},{30,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_smoke_a_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,136},{30,48}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,48}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>fx_smoke_a_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{30,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,44}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx_smoke_a_00.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0f6193e5a2b9471e7b3764125b9b245$</string>
            <key>textureFileName</key>
            <string>fx_smoke_a_00.png</string>
        </dict>
    </dict>
</plist>
