@media ( min-width: 1200px ) {
  .container-custom {
    width: 960px;
  }
}
.main {
  background: #f5f5f5;
  padding: 60px 0 66px 0;
  border-top: 1px solid #e9e9e9;
  /*border-bottom: 1px solid #e9e9e9;*/
  font-size: 12px;
}
.main .user-info {
  padding: 0 30px;
}
.main .login-part {
  background: #fefefe;
  border: 1px solid #eaeaea;
  border-bottom: 1px solid #cbcbcb;
  /*border-top: none;*/
  box-shazdow: 1px 1px 1px #eaeaea;
}
.main .login-part h3 {
  margin: 0;
  margin-bottom: 23px;
  font-size: 1.25em;
  color: #747474;
  padding: 32px 30px 0 30px;
}
.main .line {
  background: #eee;
  height: 1px;
  margin-top: 40px;
}
.extends-input,
.user-name,
.pass-word {
  background: #fff;
  display: block;
  width: 100%;
  padding: 8px 0;
  border: 2px solid #e1e1e1;
  margin-bottom: 20px;
  font-weight: normal;
  text-indent: 43px;
  outline: 0;
  font-size: 1.25em;
  *line-height: 20px;
}
.extends-input:focus,
.user-name:focus,
.pass-word:focus {
  border: 2px solid #d6f1ff;
}
.error {
  border: 2px solid #fedddc;
}
.user-pass form {
  margin: 0;
  padding: 0;
  padding-right: 8px;
}
.user-name {
  background: url("../images/login-locked-icon.png") no-repeat 15px center;
}
.pass-word {
  background: url("../images/login-key-icon.png") no-repeat 15px center;
  margin-bottom: 0;
}
.error-mess {
  background: #fff0f0;
  border: 1px solid #ffd2d2;
  height: 26px;
  line-height: 26px;
  margin-top: 10px;
  color: #b74d46;
  width: 100%;
}
.error-mess .error-icon {
  display: inline-block;
  background: url("../images/login-logic-icons.png") no-repeat 0 0;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: -4px 5px 0 5px;
}
.forget-password {
  margin-top: 10px;
  color: #999;
  font-size: 1em;
  *padding: 0 10px;
}
.forget-password span {
  *padding: 0;
}
.forget-password input {
  margin-right: 10px;
  border: 1px solid #ccc;
}
.forget-password a {
  color: #999;
  text-decoration: none;
}
.forget-password a:hover {
  text-decoration: underline;
}
.forget-password .forget {
  text-align: right;
}
.logging {
  background: #dc3c00;
  display: block;
  height: 44px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
  text-decoration: none;
  clear: both;
  width: 100%;
  border: none;
}

.logging:hover {
  background: #b43200;
  color: #fff;
  text-decoration: none;
}
.extends-third-part-icon,
.third-part .sina,
.third-part .linkin,
.third-part .baidu,
.third-part .qq,
.third-part .google,
.third-part .github {
  display: inline-block;
  background-image: url("../images/login-third-party.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  width: 32px;
  height: 32px;
}
.third-part {
  padding: 20px 52px 35px 30px;
}
.third-part span {
  display: block;
  font-size: 1.083em;
  color: #666;
  margin-bottom: 11px;
}
.third-part .sina {
  background-position: 0 0;
}
.third-part .linkin {
  background-position: -37px 0;
}
.third-part .baidu {
  background-position: -74px 0;
}
.third-part .qq {
  background-position: -112px 0;
}
.third-part .google {
  background-position: -149px 0;
}
.third-part .github {
  background-position: -186px 0;
}
.third-part .register-now {
  margin-top: 20px;
}
.third-part .register-now span {
  display: inline-block;
}
.third-part .register-now .register {
  text-align: right;
}
.third-part .register-now .register a {
  margin-left: 15px;
}

.wrap-login {
	display: table;
	margin: 0 auto;
}
.wrap-login .login-banner {
	display: table-cell;
	vertical-align: middle;
	padding-right: 20px;
}
.wrap-login .login-user {
	float: left;
}
.pub_fo {
	margin-top: 0 !important;
}