<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_pg_02_a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{120,164}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,11},{120,164}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>a_pg_02_a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{140,152}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,14},{140,152}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>a_pg_02_a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,122}}</string>
                <key>offset</key>
                <string>{-11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{176,122}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>a_pg_02_a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,116},{172,98}}</string>
                <key>offset</key>
                <string>{-26,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{172,98}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>a_pg_02_a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,112}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{176,112}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>a_pg_02_a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,144},{142,120}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,19},{142,120}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>a_pg_02_a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,216},{118,120}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,9},{118,120}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>powerguard_02.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5bc8cf0a59fb7105a7464f3180752d4$</string>
            <key>textureFileName</key>
            <string>powerguard_02.png</string>
        </dict>
    </dict>
</plist>
