<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_sg_05_a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{54,68}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,1},{54,68}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_05_a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,54},{54,64}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,4},{54,64}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_05_a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{60,56}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{60,56}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_05_a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{70,50}}</string>
                <key>offset</key>
                <string>{11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{70,50}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_05_a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,48}}</string>
                <key>offset</key>
                <string>{12,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,20},{76,48}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_05_a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{70,46}}</string>
                <key>offset</key>
                <string>{11,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,21},{70,46}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_05_a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{60,48}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,21},{60,48}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_05_a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,158},{56,50}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,20},{56,50}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_05_a0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,58},{54,52}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,21},{54,52}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stealthguard_05.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ac08163547641650cd31a4e5341b083$</string>
            <key>textureFileName</key>
            <string>stealthguard_05.png</string>
        </dict>
    </dict>
</plist>
