<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_sg_02_a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,48},{52,68}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,1},{52,68}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_02_a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{50,64}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,4},{50,64}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_02_a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,52},{60,56}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{60,56}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_02_a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{70,48}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,19},{70,48}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_02_a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,48}}</string>
                <key>offset</key>
                <string>{12,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,20},{76,48}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_02_a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{70,44}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,23},{70,44}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_02_a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{60,46}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,23},{60,46}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_02_a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,152},{50,50}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,20},{50,50}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>a_sg_02_a0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{52,52}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,21},{52,52}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stealthguard_02.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cec894f6e347254efff7df803a421c64$</string>
            <key>textureFileName</key>
            <string>stealthguard_02.png</string>
        </dict>
    </dict>
</plist>
