<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ab_02_attack_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,501},{80,63}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,87},{80,63}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,510},{78,59}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,67},{78,59}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,431},{64,81}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,39},{64,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,302},{88,61}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,55},{88,61}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{68,55}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,68},{68,55}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,92},{60,101}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,31},{60,101}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{72,107}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,38},{72,107}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{90,103}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,56},{90,103}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,291},{88,63}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,78},{88,63}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,423},{82,61}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,87},{82,61}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,618},{50,77}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,81},{50,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,571},{46,75}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,60},{46,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,72},{52,93}}</string>
                <key>offset</key>
                <string>{-6,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,32},{52,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,118},{44,79}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,46},{44,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,619},{48,69}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,61},{48,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,76},{40,105}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,27},{40,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{48,113}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,32},{48,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,117}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,42},{48,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,317},{50,87}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,66},{50,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,566},{50,79}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,79},{50,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{78,67}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,80},{78,67}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,643},{76,65}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,68},{76,65}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,124},{68,91}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,39},{68,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,199},{86,67}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,57},{86,67}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,634},{66,59}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,68},{66,59}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{64,91}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,41},{64,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,52},{70,103}}</string>
                <key>offset</key>
                <string>{-9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,42},{70,103}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{88,107}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,52},{88,107}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,170},{90,67}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,76},{90,67}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_attack_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{80,69}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,80},{80,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,436},{80,65}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,87},{80,65}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,356},{84,65}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,81},{84,65}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,503},{80,61}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,69},{80,61}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,570},{78,71}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,54},{78,71}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,369},{60,83}}</string>
                <key>offset</key>
                <string>{-12,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,44},{60,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,365},{60,83}}</string>
                <key>offset</key>
                <string>{-11,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,45},{60,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,427},{72,81}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,48},{72,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{90,67}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,61},{90,67}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,237},{90,63}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,81},{90,63}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{82,65}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,86},{82,65}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,615},{50,77}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,80},{50,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,167},{52,79}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,70},{52,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{50,75}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,61},{50,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,339},{50,85}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,46},{50,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,239},{50,89}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,44},{50,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{50,89}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,45},{50,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,118},{50,91}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,44},{50,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,265},{50,89}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,48},{50,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,248},{50,89}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,64},{50,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{50,81}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,76},{50,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,486},{80,63}}</string>
                <key>offset</key>
                <string>{8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,79},{80,63}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,371},{84,63}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,74},{84,63}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,497},{80,71}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,66},{80,71}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,287},{82,81}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,57},{82,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,566},{66,77}}</string>
                <key>offset</key>
                <string>{-13,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,63},{66,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,551},{62,79}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,63},{62,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{72,85}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,56},{72,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,154},{90,81}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,58},{90,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,194},{90,69}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,71},{90,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_02_idle_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,426},{82,63}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,80},{82,63}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ab_02.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e7d8455f6e790e2708c10ee419db033$</string>
            <key>textureFileName</key>
            <string>ab_02.png</string>
        </dict>
    </dict>
</plist>
