<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ab_03_attack_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,519},{80,67}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,83},{80,67}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,556},{78,59}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,67},{78,59}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,429},{64,81}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,39},{64,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,323},{88,61}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,55},{88,61}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{68,55}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,68},{68,55}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,92},{60,101}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,31},{60,101}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{72,107}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,38},{72,107}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{90,103}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,56},{90,103}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,281},{88,63}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,78},{88,63}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,453},{82,61}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,87},{82,61}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,516},{50,81}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,77},{50,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,617},{48,75}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,60},{48,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,72},{54,93}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,32},{54,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,588},{48,79}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,46},{48,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,659},{54,69}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,61},{54,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,76},{46,105}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,27},{46,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{52,113}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,32},{52,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,117}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,42},{52,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{52,87}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,66},{52,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,566},{52,79}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,79},{52,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,631},{78,75}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,72},{78,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,620},{76,65}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,68},{76,65}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,128},{68,91}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,39},{68,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,250},{86,67}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,57},{86,67}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,333},{66,63}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,64},{66,63}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{64,91}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,41},{64,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,56},{70,103}}</string>
                <key>offset</key>
                <string>{-9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,42},{70,103}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{88,107}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,52},{88,107}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,154},{90,71}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,72},{90,71}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_attack_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{80,77}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,72},{80,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,495},{80,69}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,83},{80,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,386},{84,65}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,81},{84,65}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,568},{80,61}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,69},{80,61}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{78,71}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,54},{78,71}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,367},{60,83}}</string>
                <key>offset</key>
                <string>{-12,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,44},{60,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,319},{60,83}}</string>
                <key>offset</key>
                <string>{-11,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,45},{60,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{72,81}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,48},{72,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{90,67}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,61},{90,67}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,176},{90,63}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,81},{90,63}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,398},{82,67}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,84},{82,67}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,467},{50,81}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,76},{50,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,537},{52,79}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,70},{52,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,638},{50,75}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,61},{50,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,346},{50,85}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,46},{50,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,241},{50,89}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,44},{50,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{50,89}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,45},{50,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,124},{50,91}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,44},{50,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,269},{52,89}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,48},{52,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,227},{52,89}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,64},{52,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,250},{52,81}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,76},{52,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,485},{80,69}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,73},{80,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{84,63}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,74},{84,63}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,464},{80,71}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,66},{80,71}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,381},{82,81}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,57},{82,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,591},{66,77}}</string>
                <key>offset</key>
                <string>{-13,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,63},{66,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{62,79}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,63},{62,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,293},{72,85}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,56},{72,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,167},{90,81}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,58},{90,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,198},{90,69}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,71},{90,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ab_03_idle_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,401},{82,71}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,72},{82,71}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ab_03.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ad43ed00f3ae0947bd94b97d8cddb7e$</string>
            <key>textureFileName</key>
            <string>ab_03.png</string>
        </dict>
    </dict>
</plist>
