<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>am_04_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{34,41}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,93},{34,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,198},{46,47}}</string>
                <key>offset</key>
                <string>{8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,87},{46,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,188},{34,49}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,85},{34,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_attack_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,264},{42,41}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,96},{42,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_attack_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,251},{34,37}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,97},{34,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_attack_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,260},{30,47}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,90},{30,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_attack_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,162},{34,49}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,88},{34,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_attack_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,60},{30,51}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,86},{30,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_attack_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,164},{48,45}}</string>
                <key>offset</key>
                <string>{15,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,92},{48,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_attack_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,224},{34,47}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,90},{34,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_attack_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,224},{38,47}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,91},{38,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_attack_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{42,55}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,83},{42,55}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_attack_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,246},{30,47}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,91},{30,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_attack_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,64},{40,51}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,87},{40,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_attack_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,146},{38,49}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,89},{38,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_emotion_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,110},{38,49}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,87},{38,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_emotion_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{30,59}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,77},{30,59}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_emotion_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,59}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,77},{30,59}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{40,51}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,85},{40,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{38,49}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,86},{38,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,106},{38,49}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,88},{38,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{36,47}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,88},{36,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,186},{36,49}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,87},{36,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,211},{38,47}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,88},{38,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{34,49}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,87},{34,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,113},{38,49}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,88},{38,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,32},{26,55}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,86},{26,55}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{28,55}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,85},{28,55}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,34},{28,53}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,87},{28,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,60},{26,53}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,87},{26,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,46},{26,53}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,86},{26,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{28,53}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,87},{28,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,150},{36,49}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,90},{36,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{34,51}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,87},{34,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,124},{36,49}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,89},{36,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{36,49}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,90},{36,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,88},{34,51}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,87},{34,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_04_move_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,74},{34,51}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,88},{34,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>am_04.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5216f1f9eb7ec3ccac91a429a391469$</string>
            <key>textureFileName</key>
            <string>am_04.png</string>
        </dict>
    </dict>
</plist>
