<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>am_03_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,280},{32,37}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,97},{32,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,123},{46,39}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,95},{46,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,170},{34,49}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,85},{34,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_attack_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{42,41}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,96},{42,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_attack_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,246},{36,37}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,97},{36,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_attack_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,214},{28,45}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,92},{28,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_attack_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,146},{34,49}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,88},{34,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_attack_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,76},{30,51}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,86},{30,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_attack_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{48,43}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,94},{48,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_attack_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,244},{34,43}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,94},{34,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_attack_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{34,51}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,87},{34,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_attack_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{42,55}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,83},{42,55}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_attack_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,182},{30,49}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,89},{30,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_attack_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{40,51}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,87},{40,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_attack_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,68},{38,51}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,87},{38,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_emotion_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,220},{36,47}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,89},{36,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_emotion_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{28,59}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,77},{28,59}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_emotion_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,59}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,77},{28,59}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,76},{40,45}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,90},{40,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,236},{38,45}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,90},{38,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,206},{38,47}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,90},{38,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{36,43}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,92},{36,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{36,49}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,87},{36,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,196},{38,47}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,88},{38,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,258},{34,43}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,93},{34,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,171},{38,47}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,90},{38,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,46},{26,53}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,88},{26,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,138},{28,51}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,89},{28,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,112},{28,51}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,89},{28,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,168},{26,51}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,89},{26,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,142},{26,51}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,88},{26,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,108},{28,51}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,89},{28,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{36,53}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,86},{36,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,32},{34,53}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,85},{34,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,108},{36,51}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,87},{36,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,74},{36,51}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,88},{36,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{34,53}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,85},{34,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>am_03_move_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,40},{34,53}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,86},{34,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>am_03.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6af4a483fc8ddcef3b974edebc10241e$</string>
            <key>textureFileName</key>
            <string>am_03.png</string>
        </dict>
    </dict>
</plist>
