<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ap_02_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,295},{104,115}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,44},{104,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{104,115}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,44},{104,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,361},{100,115}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,45},{100,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{102,115}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,44},{102,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,399},{102,115}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,44},{102,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,293},{104,115}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,43},{104,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,503},{104,113}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,45},{104,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{102,113}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,45},{102,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,401},{104,113}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,45},{104,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,244},{102,115}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,43},{102,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,97}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,48},{136,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,99},{136,95}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,49},{136,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,99},{134,97}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,47},{134,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,196},{134,95}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,49},{134,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{132,97}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,46},{132,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{136,95}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,48},{136,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,108},{134,95}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,48},{134,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,198},{132,95}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,49},{132,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,95}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,49},{136,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{134,97}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,48},{134,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,655},{102,91}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,54},{102,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,507},{104,97}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,51},{104,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,705},{100,93}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,54},{100,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{104,93}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,52},{104,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,463},{104,97}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,49},{104,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,562},{104,91}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,51},{104,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,606},{102,97}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,51},{102,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,706},{98,93}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,54},{98,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{102,95}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,52},{102,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>ap_02_idle_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,609},{102,95}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,53},{102,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ap_02.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62c3eec00b2b3e76aa3be28828dbd723$</string>
            <key>textureFileName</key>
            <string>ap_02.png</string>
        </dict>
    </dict>
</plist>
