<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb_02_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{36,39}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,102},{36,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,41},{36,37}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,105},{36,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,41}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,102},{36,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_attack_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,40},{36,33}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,106},{36,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_attack_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,80},{36,33}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,106},{36,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_attack_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,85},{36,37}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,103},{36,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_attack_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,118},{34,33}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,108},{34,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_attack_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,124},{36,35}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,107},{36,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_attack_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{36,39}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,103},{36,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,124},{36,33}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,108},{36,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,162},{36,33}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,108},{36,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{36,35}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,106},{36,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,37}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,104},{36,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,200},{34,35}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,106},{34,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,45},{38,29}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,110},{38,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{40,29}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,110},{40,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{40,29}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,110},{40,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{40,29}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,110},{40,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,78},{34,31}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,110},{34,31}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,200},{36,31}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,110},{36,31}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,162},{34,33}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,108},{34,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_02_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{36,31}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,110},{36,31}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bb_02.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9246bb8bbcb0ed7d02757ce5a65846c$</string>
            <key>textureFileName</key>
            <string>bb_02.png</string>
        </dict>
    </dict>
</plist>
