<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb_03_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{40,45}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,96},{40,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{38,45}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,97},{38,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{40,49}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,94},{40,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_attack_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,53},{40,37}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,102},{40,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_attack_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,137},{38,39}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,100},{38,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_attack_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{40,47}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,93},{40,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_attack_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,84},{36,37}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,104},{36,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_attack_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,200},{38,41}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,101},{38,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_attack_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,49}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,93},{42,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,175},{38,33}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,108},{38,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,135},{38,33}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,108},{38,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{38,35}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,106},{38,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,218},{36,37}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,104},{36,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{36,35}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,106},{36,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,215},{38,29}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,110},{38,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,95},{40,29}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,110},{40,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{40,29}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,110},{40,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{40,29}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,110},{40,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,44},{38,35}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,106},{38,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,178},{38,33}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,108},{38,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,42},{36,35}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,106},{36,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bb_03_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,95},{38,35}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,106},{38,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bb_03.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e09e1327e9249aa5806909a09b4307f$</string>
            <key>textureFileName</key>
            <string>bb_03.png</string>
        </dict>
    </dict>
</plist>
