<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_03_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,230},{28,45}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,90},{28,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,142},{32,45}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,90},{32,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{36,53}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,82},{36,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,57}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,78},{30,57}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,230},{30,43}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,92},{30,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,288},{34,37}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,98},{34,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{22,47}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,90},{22,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,202},{26,47}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,90},{26,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{38,53}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,84},{38,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{44,53}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,84},{44,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,80},{36,49}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,88},{36,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{38,47}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,90},{38,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,172},{24,49}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,90},{24,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,148},{24,49}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,90},{24,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,36},{26,53}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,86},{26,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,40},{38,51}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,88},{38,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{32,53}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,85},{32,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_attack_a_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{28,53}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,85},{28,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_emotion_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{30,49}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,84},{30,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_emotion_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,48},{28,51}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,83},{28,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_emotion_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,106},{34,49}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,84},{34,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,64},{28,51}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,83},{28,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,142},{28,49}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,85},{28,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,124},{26,49}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,88},{26,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,258},{26,43}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,87},{26,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,152},{28,47}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,86},{28,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,118},{28,49}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,86},{28,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,198},{26,47}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,88},{26,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,260},{28,43}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,87},{28,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,94},{28,49}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,84},{28,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{26,51}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,86},{26,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,210},{18,47}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,87},{18,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,204},{20,47}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,86},{20,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,252},{26,45}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,85},{26,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,110},{30,43}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,86},{30,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,286},{20,43}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,89},{20,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,262},{24,43}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,87},{24,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,182},{26,47}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,83},{26,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,226},{30,45}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,86},{30,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{24,45}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,87},{24,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,78},{26,51}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,84},{26,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{26,51}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,83},{26,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,226},{24,47}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,86},{24,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,176},{26,47}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,86},{26,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{26,49}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,85},{26,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,57},{28,51}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,82},{28,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_03_move_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,174},{26,47}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,85},{26,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg_03.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce7f5b497101b3149d183c253e16e5cb$</string>
            <key>textureFileName</key>
            <string>bg_03.png</string>
        </dict>
    </dict>
</plist>
