<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_01_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,254},{30,45}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,90},{30,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,224},{36,45}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,90},{36,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{36,53}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,82},{36,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,57}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,78},{32,57}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,110},{32,43}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,92},{32,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,272},{34,37}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,98},{34,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,230},{22,47}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,90},{22,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{26,47}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,90},{26,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{42,53}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,84},{42,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{46,53}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,84},{46,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,108},{36,49}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,88},{36,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,176},{38,47}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,90},{38,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,174},{22,49}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,90},{22,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,170},{24,49}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,90},{24,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{28,53}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,86},{28,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,40},{40,51}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,88},{40,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,40},{32,53}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,85},{32,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_attack_a_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{36,53}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,85},{36,53}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_emotion_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{32,49}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,84},{32,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_emotion_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,50},{30,51}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,83},{30,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_emotion_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,104},{36,49}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,84},{36,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,57},{30,51}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,83},{30,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,142},{28,49}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,85},{28,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,146},{26,49}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,88},{26,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,280},{26,43}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,87},{26,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,202},{26,47}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,86},{26,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,142},{26,49}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,86},{26,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,172},{28,47}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,88},{28,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,240},{30,43}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,87},{30,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,110},{30,49}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,84},{30,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,74},{28,51}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,86},{28,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,224},{22,47}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,87},{22,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{20,47}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,86},{20,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{24,45}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,85},{24,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,144},{30,43}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,86},{30,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,286},{20,43}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,89},{20,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,262},{28,43}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,87},{28,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{32,47}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,83},{32,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,248},{30,45}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,86},{30,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{24,45}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,87},{24,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,82},{24,51}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,84},{24,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,82},{26,51}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,83},{26,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,198},{24,47}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,86},{24,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,216},{22,47}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,86},{22,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{26,49}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,85},{26,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{28,51}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,82},{28,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>bg_01_move_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,196},{26,47}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,85},{26,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg_01.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ebd27497ffea7a6e8e5eed04e31723c$</string>
            <key>textureFileName</key>
            <string>bg_01.png</string>
        </dict>
    </dict>
</plist>
