<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bo_01_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,310},{182,124}}</string>
                <key>offset</key>
                <string>{39,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,110},{182,124}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{180,132}}</string>
                <key>offset</key>
                <string>{39,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,109},{180,132}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{180,130}}</string>
                <key>offset</key>
                <string>{36,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,106},{180,130}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_attack_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,184},{206,130}}</string>
                <key>offset</key>
                <string>{39,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,104},{206,130}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_attack_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{220,132}}</string>
                <key>offset</key>
                <string>{31,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,102},{220,132}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_attack_a_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{220,132}}</string>
                <key>offset</key>
                <string>{21,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,102},{220,132}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_attack_a_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,150}}</string>
                <key>offset</key>
                <string>{14,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,84},{226,150}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_attack_a_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{202,210}}</string>
                <key>offset</key>
                <string>{26,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,24},{202,210}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_attack_a_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,136},{172,210}}</string>
                <key>offset</key>
                <string>{13,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,24},{172,210}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_attack_a_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,136},{178,190}}</string>
                <key>offset</key>
                <string>{16,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,53},{178,190}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_attack_a_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{200,148}}</string>
                <key>offset</key>
                <string>{32,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,91},{200,148}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_attack_a_0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{198,126}}</string>
                <key>offset</key>
                <string>{44,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,108},{198,126}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,804},{158,144}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,110},{158,144}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,804},{156,144}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,111},{156,144}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,550},{158,148}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,109},{158,148}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,504},{158,152}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,105},{158,152}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,392},{160,156}}</string>
                <key>offset</key>
                <string>{7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,102},{160,156}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,750},{162,156}}</string>
                <key>offset</key>
                <string>{7,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,102},{162,156}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,586},{162,156}}</string>
                <key>offset</key>
                <string>{8,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,102},{162,156}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,466},{162,154}}</string>
                <key>offset</key>
                <string>{9,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,103},{162,154}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,206},{164,150}}</string>
                <key>offset</key>
                <string>{9,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,105},{164,150}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,436},{164,148}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,105},{164,148}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,316},{164,148}}</string>
                <key>offset</key>
                <string>{10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,104},{164,148}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{164,146}}</string>
                <key>offset</key>
                <string>{10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,104},{164,146}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,878},{164,144}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,104},{164,144}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,712},{164,144}}</string>
                <key>offset</key>
                <string>{9,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,104},{164,144}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{164,144}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,104},{164,144}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{164,144}}</string>
                <key>offset</key>
                <string>{7,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,105},{164,144}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,358},{162,144}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,107},{162,144}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>bo_01_idle_0_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,658},{158,144}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,109},{158,144}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bo_01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ec1597f3fd89ad29e32e9f517c76f6b$</string>
            <key>textureFileName</key>
            <string>bo_01.png</string>
        </dict>
    </dict>
</plist>
