<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_02_heal_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,290},{68,87}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,65},{68,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,550},{72,73}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,71},{72,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,562},{74,75}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,76},{74,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{74,73}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,70},{74,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,344},{72,85}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,66},{72,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,564},{68,75}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,68},{68,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,432},{68,83}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,68},{68,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,142},{62,93}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,70},{62,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,418},{68,85}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,71},{68,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{72,87}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,77},{72,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,488},{72,79}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,78},{72,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,146},{70,91}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,73},{70,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{62,87}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,69},{62,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,78},{62,93}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,70},{62,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{68,93}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,75},{68,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,206},{72,89}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,73},{72,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{74,95}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,76},{74,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,208},{74,87}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,76},{74,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{72,95}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,76},{72,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,280},{68,87}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,74},{68,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_heal_a_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{70,97}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,71},{70,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,218},{70,87}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,66},{70,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,609},{68,75}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,69},{68,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,360},{70,85}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,66},{70,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,537},{70,77}}</string>
                <key>offset</key>
                <string>{-9,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,65},{70,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,350},{70,85}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,65},{70,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,574},{68,73}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,69},{68,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,502},{70,75}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,76},{70,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,624},{68,71}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,73},{68,71}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,422},{70,83}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,69},{70,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,494},{68,79}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,66},{68,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,74},{60,95}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,70},{60,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,282},{60,87}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,69},{60,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,148},{62,91}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,72},{62,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,282},{60,85}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,70},{60,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{62,95}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,67},{62,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,369},{62,85}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,69},{62,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{62,89}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,73},{62,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,456},{60,79}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,76},{60,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,354},{62,87}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,77},{62,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,488},{60,83}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,74},{60,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,136},{70,93}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,77},{70,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{68,87}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,75},{68,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{70,97}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,72},{70,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,284},{68,87}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,73},{68,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,76},{70,95}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,73},{70,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,212},{68,89}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,71},{68,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,97}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,71},{70,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{68,85}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,75},{68,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,74},{70,93}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,76},{70,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_02_idle_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,418},{68,85}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,76},{68,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hl_02.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d06e6cdc43c81661ea54d7f1e7233163$</string>
            <key>textureFileName</key>
            <string>hl_02.png</string>
        </dict>
    </dict>
</plist>
