<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hl_01_heal_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,375},{68,79}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,72},{68,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,504},{72,69}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,74},{72,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{72,75}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,75},{72,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,445},{74,69}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,73},{74,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{72,77}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,73},{72,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,516},{68,69}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,74},{68,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,486},{68,77}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,74},{68,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,288},{62,85}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,78},{62,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,360},{70,79}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,77},{70,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,148},{70,85}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,79},{70,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,296},{72,77}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,79},{72,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,146},{70,87}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,77},{70,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{62,79}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,76},{62,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,284},{62,85}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,78},{62,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{68,93}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,75},{68,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,150},{72,85}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,76},{72,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,95}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,75},{74,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,74},{74,87}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,76},{74,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{72,95}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,75},{72,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,280},{68,85}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,75},{68,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_heal_a_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,74},{70,91}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,76},{70,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{70,77}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,75},{70,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{70,67}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,76},{70,67}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,432},{70,75}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,75},{70,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,606},{70,69}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,73},{70,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,472},{70,77}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,72},{70,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,575},{68,67}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,74},{68,67}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,422},{68,77}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,73},{68,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,556},{70,69}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,74},{70,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,414},{70,77}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,74},{70,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,554},{68,71}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,73},{68,71}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,146},{60,87}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,77},{60,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,410},{60,79}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,77},{60,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{62,85}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,78},{62,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,492},{60,75}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,79},{60,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,220},{62,85}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,76},{62,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,352},{60,79}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,75},{60,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{62,85}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,77},{62,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,544},{60,77}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,77},{60,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,296},{62,85}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,78},{62,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,348},{60,79}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,77},{60,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,76},{70,93}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,76},{70,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{70,85}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,76},{70,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,74},{70,93}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,75},{70,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,350},{70,83}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,76},{70,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{70,93}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,74},{70,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,224},{70,85}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,74},{70,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{70,93}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,74},{70,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,208},{70,85}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,75},{70,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{70,93}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,75},{70,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hl_01_idle_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,218},{68,85}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,76},{68,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hl_01.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1862c4cacdb4cee834336e9c8bb2db7e$</string>
            <key>textureFileName</key>
            <string>hl_01.png</string>
        </dict>
    </dict>
</plist>
