<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hm_03_attack_b_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,475},{96,85}}</string>
                <key>offset</key>
                <string>{23,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,57},{96,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{88,97}}</string>
                <key>offset</key>
                <string>{17,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,45},{88,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,437},{96,95}}</string>
                <key>offset</key>
                <string>{16,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,46},{96,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,80},{120,91}}</string>
                <key>offset</key>
                <string>{10,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,49},{120,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,91}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,49},{128,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{122,81}}</string>
                <key>offset</key>
                <string>{13,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,62},{122,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,293},{102,73}}</string>
                <key>offset</key>
                <string>{33,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,73},{102,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,239},{106,73}}</string>
                <key>offset</key>
                <string>{26,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,77},{106,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,356},{100,79}}</string>
                <key>offset</key>
                <string>{16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,71},{100,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,392},{98,81}}</string>
                <key>offset</key>
                <string>{14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,69},{98,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{100,79}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,71},{100,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{78,113}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,32},{78,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{76,125}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,20},{76,125}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{76,119}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,25},{76,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{88,103}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,41},{88,103}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,172},{114,95}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,48},{114,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,368},{98,91}}</string>
                <key>offset</key>
                <string>{19,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,51},{98,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,208},{112,83}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,58},{112,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,269},{102,85}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,58},{102,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,534},{94,87}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,56},{94,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,562},{90,87}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,56},{90,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,461},{96,85}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,58},{96,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,173},{64,113}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,29},{64,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{70,125}}</string>
                <key>offset</key>
                <string>{6,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,17},{70,125}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,74},{72,121}}</string>
                <key>offset</key>
                <string>{2,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,20},{72,121}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,148},{58,115}}</string>
                <key>offset</key>
                <string>{-7,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,26},{58,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,314},{76,101}}</string>
                <key>offset</key>
                <string>{-13,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,38},{76,101}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,548},{90,93}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,43},{90,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,85},{116,85}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,46},{116,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{84,87}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,43},{84,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{94,87}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,43},{94,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,526},{96,87}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,43},{96,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_b_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,437},{96,87}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,43},{96,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hm_03_3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14f3bc0e4cc9c408321bc769f2ce70a1$</string>
            <key>textureFileName</key>
            <string>hm_03_3.png</string>
        </dict>
    </dict>
</plist>
