<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hm_02_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,394},{88,85}}</string>
                <key>offset</key>
                <string>{20,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,57},{88,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{92,81}}</string>
                <key>offset</key>
                <string>{19,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,61},{92,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,232},{94,85}}</string>
                <key>offset</key>
                <string>{15,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,57},{94,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{64,119}}</string>
                <key>offset</key>
                <string>{-9,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,23},{64,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,123}}</string>
                <key>offset</key>
                <string>{-10,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,19},{68,123}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{60,119}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,23},{60,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,410},{80,87}}</string>
                <key>offset</key>
                <string>{17,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,55},{80,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,240},{90,93}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,78},{90,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,319},{90,89}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,82},{90,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,393},{90,91}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,77},{90,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,308},{92,83}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,74},{92,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,228},{78,97}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,48},{78,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,150},{80,95}}</string>
                <key>offset</key>
                <string>{8,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,50},{80,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,152},{74,105}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,40},{74,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,68},{78,115}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,30},{78,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,148},{90,105}}</string>
                <key>offset</key>
                <string>{-17,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,40},{90,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,64},{84,117}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,28},{84,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{72,109}}</string>
                <key>offset</key>
                <string>{18,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,36},{72,109}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,332},{92,73}}</string>
                <key>offset</key>
                <string>{30,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,72},{92,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,319},{92,73}}</string>
                <key>offset</key>
                <string>{29,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,72},{92,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,407},{88,75}}</string>
                <key>offset</key>
                <string>{28,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,70},{88,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,481},{86,75}}</string>
                <key>offset</key>
                <string>{25,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,70},{86,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{64,107}}</string>
                <key>offset</key>
                <string>{8,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,35},{64,107}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{70,105}}</string>
                <key>offset</key>
                <string>{10,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,37},{70,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,70},{80,109}}</string>
                <key>offset</key>
                <string>{9,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,33},{80,109}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{82,91}}</string>
                <key>offset</key>
                <string>{-11,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,51},{82,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,484},{84,75}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,65},{84,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{82,95}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,46},{82,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{66,123}}</string>
                <key>offset</key>
                <string>{13,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,18},{66,123}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,485},{72,79}}</string>
                <key>offset</key>
                <string>{20,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,61},{72,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{70,75}}</string>
                <key>offset</key>
                <string>{20,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,65},{70,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,150},{68,77}}</string>
                <key>offset</key>
                <string>{18,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,63},{68,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_a_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,229},{64,81}}</string>
                <key>offset</key>
                <string>{15,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,59},{64,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hm_02_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a3f764f02244c22f40d372eafbd432a$</string>
            <key>textureFileName</key>
            <string>hm_02_2.png</string>
        </dict>
    </dict>
</plist>
