<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hm_01_emotion_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,77},{102,99}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,43},{102,99}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_emotion_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,115}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,27},{100,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,178},{96,91}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,51},{96,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,223},{96,91}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,51},{96,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_idle_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{94,91}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,51},{94,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,551},{76,73}}</string>
                <key>offset</key>
                <string>{12,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,64},{76,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{80,69}}</string>
                <key>offset</key>
                <string>{14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,67},{80,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,271},{94,69}}</string>
                <key>offset</key>
                <string>{13,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,67},{94,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,77},{102,69}}</string>
                <key>offset</key>
                <string>{9,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,67},{102,69}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{106,73}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,68},{106,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{108,73}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,71},{108,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{108,73}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,70},{108,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,148},{100,73}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,67},{100,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,237},{94,75}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,62},{94,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,399},{84,71}}</string>
                <key>offset</key>
                <string>{10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,64},{84,71}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,419},{80,77}}</string>
                <key>offset</key>
                <string>{-11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,63},{80,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,496},{78,77}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,62},{78,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,418},{76,79}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,61},{76,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,498},{78,79}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,64},{78,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,339},{86,77}}</string>
                <key>offset</key>
                <string>{12,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,67},{86,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,342},{90,75}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,69},{90,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,398},{86,75}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,68},{86,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,472},{78,79}}</string>
                <key>offset</key>
                <string>{9,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,62},{78,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{76,79}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,61},{76,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,475},{74,79}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,61},{74,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,158},{98,77}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,66},{98,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,77},{102,79}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,63},{102,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{102,85}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,55},{102,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,314},{92,83}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,54},{92,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,316},{80,87}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,54},{80,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{72,89}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,54},{72,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,263},{74,89}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,52},{74,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,173},{88,81}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,55},{88,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,77},{94,79}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,60},{94,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_move_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{96,77}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,64},{96,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hm_01_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ab1537dd4b4aad1bc0165d3260d6221$</string>
            <key>textureFileName</key>
            <string>hm_01_1.png</string>
        </dict>
    </dict>
</plist>
