<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hm_02_attack_b_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,435},{88,85}}</string>
                <key>offset</key>
                <string>{20,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,57},{88,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{88,89}}</string>
                <key>offset</key>
                <string>{17,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,53},{88,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{96,89}}</string>
                <key>offset</key>
                <string>{16,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,52},{96,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{120,91}}</string>
                <key>offset</key>
                <string>{10,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,49},{120,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,91}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,49},{128,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{122,81}}</string>
                <key>offset</key>
                <string>{14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,62},{122,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,557},{90,73}}</string>
                <key>offset</key>
                <string>{27,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,73},{90,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,482},{92,73}}</string>
                <key>offset</key>
                <string>{18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,77},{92,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,496},{90,79}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,71},{90,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,433},{90,81}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,69},{90,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,415},{92,79}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,71},{92,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,246},{78,97}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,48},{78,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,177},{76,109}}</string>
                <key>offset</key>
                <string>{8,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,36},{76,109}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,99},{76,109}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,35},{76,109}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{88,103}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,41},{88,103}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{112,95}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,48},{112,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,255},{88,91}}</string>
                <key>offset</key>
                <string>{13,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,51},{88,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,95},{112,83}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,58},{112,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,232},{104,85}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,58},{104,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,344},{94,87}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,56},{94,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,348},{90,85}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,58},{90,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,393},{96,87}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,56},{96,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,180},{64,107}}</string>
                <key>offset</key>
                <string>{8,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,35},{64,107}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{70,115}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,27},{70,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{72,117}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,24},{72,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,172},{58,111}}</string>
                <key>offset</key>
                <string>{-7,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,30},{58,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,319},{72,97}}</string>
                <key>offset</key>
                <string>{-15,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,42},{72,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{90,91}}</string>
                <key>offset</key>
                <string>{-15,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,45},{90,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,85},{118,85}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,46},{118,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,516},{84,87}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,43},{84,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{94,87}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,43},{94,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,326},{96,87}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,43},{96,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_attack_b_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,255},{96,87}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,43},{96,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hm_02_3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ef8b32827a8ad291e944313ee9f7e1d$</string>
            <key>textureFileName</key>
            <string>hm_02_3.png</string>
        </dict>
    </dict>
</plist>
