<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hm_01_attack_b_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,293},{92,77}}</string>
                <key>offset</key>
                <string>{21,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,65},{92,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,372},{88,91}}</string>
                <key>offset</key>
                <string>{18,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,51},{88,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,262},{96,91}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,50},{96,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{120,83}}</string>
                <key>offset</key>
                <string>{10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,57},{120,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,83}}</string>
                <key>offset</key>
                <string>{9,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,57},{128,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{122,73}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,70},{122,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{90,73}}</string>
                <key>offset</key>
                <string>{28,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,73},{90,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,462},{82,73}}</string>
                <key>offset</key>
                <string>{25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,77},{82,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,569},{78,79}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,71},{78,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,471},{76,81}}</string>
                <key>offset</key>
                <string>{17,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,69},{76,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,525},{78,79}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,71},{78,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,229},{78,101}}</string>
                <key>offset</key>
                <string>{10,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,44},{78,101}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{76,111}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,34},{76,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,151},{76,111}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,33},{76,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,170},{90,103}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,41},{90,103}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{112,91}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,52},{112,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,485},{82,85}}</string>
                <key>offset</key>
                <string>{17,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,57},{82,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,309},{96,85}}</string>
                <key>offset</key>
                <string>{20,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,56},{96,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,293},{92,87}}</string>
                <key>offset</key>
                <string>{11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,56},{92,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,382},{88,87}}</string>
                <key>offset</key>
                <string>{9,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,56},{88,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,437},{86,87}}</string>
                <key>offset</key>
                <string>{9,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,56},{86,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,396},{90,87}}</string>
                <key>offset</key>
                <string>{10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,56},{90,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,155},{68,109}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,33},{68,109}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{70,117}}</string>
                <key>offset</key>
                <string>{6,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,25},{70,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,77},{72,117}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,24},{72,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,95},{58,111}}</string>
                <key>offset</key>
                <string>{-7,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,30},{58,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,225},{66,97}}</string>
                <key>offset</key>
                <string>{-12,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,42},{66,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,355},{80,91}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,45},{80,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,87},{112,81}}</string>
                <key>offset</key>
                <string>{8,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,50},{112,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{84,77}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,53},{84,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{94,77}}</string>
                <key>offset</key>
                <string>{-7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,53},{94,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{98,77}}</string>
                <key>offset</key>
                <string>{-8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,53},{98,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_01_attack_b_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{96,77}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,53},{96,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hm_01_3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd31f163fac74c7bde504ffc9ba0c37c$</string>
            <key>textureFileName</key>
            <string>hm_01_3.png</string>
        </dict>
    </dict>
</plist>
