<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hm_02_emotion_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{104,95}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,47},{104,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_emotion_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,119}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,23},{96,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{96,89}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,53},{96,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,251},{96,91}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,51},{96,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_idle_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,255},{94,91}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,51},{94,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,603},{86,77}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,60},{86,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{84,75}}</string>
                <key>offset</key>
                <string>{13,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,61},{84,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,326},{94,75}}</string>
                <key>offset</key>
                <string>{13,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,61},{94,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,174},{102,75}}</string>
                <key>offset</key>
                <string>{10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,61},{102,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{108,79}}</string>
                <key>offset</key>
                <string>{6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,62},{108,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{108,79}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,65},{108,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,83},{108,77}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,66},{108,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,162},{102,79}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,61},{102,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,340},{94,81}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,56},{94,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,576},{86,77}}</string>
                <key>offset</key>
                <string>{10,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,58},{86,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,435},{92,81}}</string>
                <key>offset</key>
                <string>{-17,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,59},{92,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,403},{92,83}}</string>
                <key>offset</key>
                <string>{-15,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,56},{92,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,348},{92,83}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,57},{92,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{92,83}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,60},{92,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,506},{88,83}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,61},{88,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,423},{90,81}}</string>
                <key>offset</key>
                <string>{16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,63},{90,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,521},{86,81}}</string>
                <key>offset</key>
                <string>{16,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,62},{86,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{88,83}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,58},{88,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{90,83}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,57},{90,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,518},{88,83}}</string>
                <key>offset</key>
                <string>{-16,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,57},{88,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{100,85}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,61},{100,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,89},{106,83}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,59},{106,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{108,85}}</string>
                <key>offset</key>
                <string>{-6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,55},{108,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,83},{102,85}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,52},{102,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,344},{92,89}}</string>
                <key>offset</key>
                <string>{-10,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,52},{92,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,488},{86,89}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,54},{86,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,433},{86,89}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,52},{86,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,255},{94,83}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,53},{94,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,243},{100,81}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,58},{100,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_02_move_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,170},{100,83}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,62},{100,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hm_02_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40fb6c7163812255f0c73af92b74e1db$</string>
            <key>textureFileName</key>
            <string>hm_02_1.png</string>
        </dict>
    </dict>
</plist>
