<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hm_03_emotion_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,172},{104,95}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,47},{104,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_emotion_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,119}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,23},{94,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{96,89}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,53},{96,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,340},{96,91}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,51},{96,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_idle_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,528},{94,91}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,51},{94,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,445},{98,81}}</string>
                <key>offset</key>
                <string>{13,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,56},{98,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,595},{94,77}}</string>
                <key>offset</key>
                <string>{18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,59},{94,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,172},{102,77}}</string>
                <key>offset</key>
                <string>{16,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,59},{102,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,176},{104,77}}</string>
                <key>offset</key>
                <string>{10,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,59},{104,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{106,81}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,60},{106,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{108,81}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,63},{108,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{108,79}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,64},{108,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{102,79}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,61},{102,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,425},{98,81}}</string>
                <key>offset</key>
                <string>{11,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,56},{98,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,520},{94,79}}</string>
                <key>offset</key>
                <string>{15,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,56},{94,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,427},{98,85}}</string>
                <key>offset</key>
                <string>{-14,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,55},{98,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{102,85}}</string>
                <key>offset</key>
                <string>{-9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,54},{102,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,89},{106,85}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,55},{106,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,83},{106,87}}</string>
                <key>offset</key>
                <string>{9,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,56},{106,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{100,85}}</string>
                <key>offset</key>
                <string>{17,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,59},{100,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{98,83}}</string>
                <key>offset</key>
                <string>{20,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,61},{98,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{94,83}}</string>
                <key>offset</key>
                <string>{20,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,60},{94,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,508},{96,85}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,56},{96,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,356},{98,87}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,53},{98,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,340},{100,85}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,55},{100,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,251},{100,87}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,60},{100,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,85},{106,85}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,57},{106,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{108,85}}</string>
                <key>offset</key>
                <string>{-6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,55},{108,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,255},{102,83}}</string>
                <key>offset</key>
                <string>{-8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,54},{102,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,605},{94,87}}</string>
                <key>offset</key>
                <string>{-9,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,54},{94,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,514},{96,89}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,54},{96,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,621},{88,87}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,54},{88,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,433},{96,85}}</string>
                <key>offset</key>
                <string>{-7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,51},{96,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,340},{100,83}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,56},{100,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_move_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,269},{100,85}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,60},{100,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hm_03_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:993ca23a6aeca9172562bc1895595825$</string>
            <key>textureFileName</key>
            <string>hm_03_1.png</string>
        </dict>
    </dict>
</plist>
