<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hm_04_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,631},{94,83}}</string>
                <key>offset</key>
                <string>{21,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,59},{94,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{98,79}}</string>
                <key>offset</key>
                <string>{22,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,63},{98,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,542},{100,87}}</string>
                <key>offset</key>
                <string>{18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,55},{100,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{66,127}}</string>
                <key>offset</key>
                <string>{-8,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,15},{66,127}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{68,129}}</string>
                <key>offset</key>
                <string>{-10,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,13},{68,129}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,70},{64,123}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,19},{64,123}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,896},{88,87}}</string>
                <key>offset</key>
                <string>{19,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,55},{88,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,729},{92,93}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,78},{92,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,858},{94,87}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,81},{94,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,676},{96,89}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,78},{96,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,587},{98,87}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,73},{98,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,416},{80,99}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,46},{80,99}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,615},{90,97}}</string>
                <key>offset</key>
                <string>{13,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,48},{90,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,168},{88,111}}</string>
                <key>offset</key>
                <string>{10,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,34},{88,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{80,123}}</string>
                <key>offset</key>
                <string>{-10,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,22},{80,123}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,72},{94,115}}</string>
                <key>offset</key>
                <string>{-17,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,30},{94,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,84},{88,121}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,24},{88,121}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,155},{88,111}}</string>
                <key>offset</key>
                <string>{23,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,34},{88,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,361},{92,73}}</string>
                <key>offset</key>
                <string>{30,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,72},{92,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,267},{92,73}}</string>
                <key>offset</key>
                <string>{30,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,72},{92,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,947},{90,75}}</string>
                <key>offset</key>
                <string>{29,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,70},{90,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,802},{88,77}}</string>
                <key>offset</key>
                <string>{26,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,69},{88,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,343},{74,105}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,37},{74,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,267},{74,105}}</string>
                <key>offset</key>
                <string>{9,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,37},{74,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,81},{78,115}}</string>
                <key>offset</key>
                <string>{8,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,27},{78,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,360},{88,103}}</string>
                <key>offset</key>
                <string>{-13,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,39},{88,103}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,892},{90,87}}</string>
                <key>offset</key>
                <string>{-16,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,53},{90,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,174},{84,109}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,32},{84,109}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{68,129}}</string>
                <key>offset</key>
                <string>{13,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,12},{68,129}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,716},{76,81}}</string>
                <key>offset</key>
                <string>{22,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,60},{76,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,881},{76,77}}</string>
                <key>offset</key>
                <string>{24,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,63},{76,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,794},{76,79}}</string>
                <key>offset</key>
                <string>{21,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,61},{76,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_a_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,631},{72,83}}</string>
                <key>offset</key>
                <string>{16,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,57},{72,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{94,83}}</string>
                <key>offset</key>
                <string>{21,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,59},{94,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{94,89}}</string>
                <key>offset</key>
                <string>{20,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,53},{94,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,526},{98,87}}</string>
                <key>offset</key>
                <string>{17,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,54},{98,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{122,89}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,51},{122,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,87}}</string>
                <key>offset</key>
                <string>{11,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,53},{134,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{130,77}}</string>
                <key>offset</key>
                <string>{19,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,66},{130,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,597},{96,75}}</string>
                <key>offset</key>
                <string>{32,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,73},{96,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,559},{98,75}}</string>
                <key>offset</key>
                <string>{24,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,75},{98,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{96,81}}</string>
                <key>offset</key>
                <string>{15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,69},{96,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,674},{94,81}}</string>
                <key>offset</key>
                <string>{15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,69},{94,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{96,81}}</string>
                <key>offset</key>
                <string>{16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,69},{96,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,353},{80,99}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,46},{80,99}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,136},{82,113}}</string>
                <key>offset</key>
                <string>{10,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,32},{82,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,83},{88,111}}</string>
                <key>offset</key>
                <string>{12,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,33},{88,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,260},{98,105}}</string>
                <key>offset</key>
                <string>{14,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,39},{98,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,249},{116,95}}</string>
                <key>offset</key>
                <string>{8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,48},{116,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,636},{94,91}}</string>
                <key>offset</key>
                <string>{20,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,51},{94,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{110,87}}</string>
                <key>offset</key>
                <string>{16,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,54},{110,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,419},{102,89}}</string>
                <key>offset</key>
                <string>{9,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,54},{102,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,757},{92,89}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,54},{92,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,716},{92,89}}</string>
                <key>offset</key>
                <string>{9,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,54},{92,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,767},{94,89}}</string>
                <key>offset</key>
                <string>{9,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,54},{94,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,322},{74,105}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,37},{74,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,93},{74,119}}</string>
                <key>offset</key>
                <string>{7,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,23},{74,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,173},{74,117}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,24},{74,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{62,115}}</string>
                <key>offset</key>
                <string>{-5,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,26},{62,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,301},{76,105}}</string>
                <key>offset</key>
                <string>{-10,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,34},{76,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,578},{90,97}}</string>
                <key>offset</key>
                <string>{-11,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,39},{90,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{114,87}}</string>
                <key>offset</key>
                <string>{7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,44},{114,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,807},{88,87}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,43},{88,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{100,85}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,45},{100,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,510},{102,85}}</string>
                <key>offset</key>
                <string>{-9,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,45},{102,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_attack_b_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,455},{102,85}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,45},{102,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_emotion_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,346},{104,99}}</string>
                <key>offset</key>
                <string>{10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,43},{104,99}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_emotion_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,169},{96,117}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,25},{96,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,489},{98,87}}</string>
                <key>offset</key>
                <string>{9,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,55},{98,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,470},{98,87}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,55},{98,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_idle_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,435},{98,89}}</string>
                <key>offset</key>
                <string>{7,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,53},{98,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,721},{90,79}}</string>
                <key>offset</key>
                <string>{13,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,58},{90,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,896},{88,77}}</string>
                <key>offset</key>
                <string>{17,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,60},{88,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,539},{98,75}}</string>
                <key>offset</key>
                <string>{18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,61},{98,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,245},{108,75}}</string>
                <key>offset</key>
                <string>{14,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,61},{108,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{112,79}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,62},{112,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,72},{114,81}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,63},{114,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,161},{114,77}}</string>
                <key>offset</key>
                <string>{10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,66},{114,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,220},{108,79}}</string>
                <key>offset</key>
                <string>{13,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,61},{108,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,333},{100,81}}</string>
                <key>offset</key>
                <string>{13,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,56},{100,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,892},{90,79}}</string>
                <key>offset</key>
                <string>{14,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,57},{90,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,853},{92,89}}</string>
                <key>offset</key>
                <string>{-13,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,51},{92,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,853},{92,89}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,51},{92,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{98,87}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,52},{98,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,398},{98,89}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,54},{98,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,707},{94,89}}</string>
                <key>offset</key>
                <string>{17,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,55},{94,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{98,89}}</string>
                <key>offset</key>
                <string>{19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,56},{98,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,858},{94,87}}</string>
                <key>offset</key>
                <string>{20,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,57},{94,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,803},{92,87}}</string>
                <key>offset</key>
                <string>{10,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,54},{92,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,616},{94,91}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,49},{94,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,670},{94,89}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,51},{94,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,540},{100,91}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,53},{100,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,258},{106,93}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,49},{106,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,240},{110,91}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,49},{110,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,447},{104,91}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,46},{104,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,709},{92,93}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,47},{92,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,761},{90,93}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,49},{90,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,633},{86,93}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,46},{86,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,498},{98,87}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,49},{98,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,450},{102,87}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,52},{102,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_04_move_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,379},{102,89}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,53},{102,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hm_04.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5582a5c9569817895949512e471b0d5$</string>
            <key>textureFileName</key>
            <string>hm_04.png</string>
        </dict>
    </dict>
</plist>
