<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hm_03_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{96,85}}</string>
                <key>offset</key>
                <string>{23,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,57},{96,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,429},{96,83}}</string>
                <key>offset</key>
                <string>{22,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,59},{96,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,460},{94,93}}</string>
                <key>offset</key>
                <string>{15,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,49},{94,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{64,133}}</string>
                <key>offset</key>
                <string>{-9,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,9},{64,133}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,62},{68,127}}</string>
                <key>offset</key>
                <string>{-10,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,15},{68,127}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{58,131}}</string>
                <key>offset</key>
                <string>{-4,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,11},{58,131}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{80,93}}</string>
                <key>offset</key>
                <string>{17,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,49},{80,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,292},{104,91}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,79},{104,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{104,89}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,81},{104,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,290},{104,91}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,77},{104,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,104},{108,83}}</string>
                <key>offset</key>
                <string>{21,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,74},{108,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,142},{78,113}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,32},{78,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,208},{80,111}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,34},{80,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,132},{74,119}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,26},{74,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{80,119}}</string>
                <key>offset</key>
                <string>{-12,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,26},{80,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{100,105}}</string>
                <key>offset</key>
                <string>{-23,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,40},{100,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,189},{88,117}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,28},{88,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,68},{72,123}}</string>
                <key>offset</key>
                <string>{17,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,22},{72,123}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,279},{106,73}}</string>
                <key>offset</key>
                <string>{37,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,72},{106,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,354},{104,73}}</string>
                <key>offset</key>
                <string>{36,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,72},{104,73}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,383},{102,75}}</string>
                <key>offset</key>
                <string>{34,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,70},{102,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{94,75}}</string>
                <key>offset</key>
                <string>{30,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,70},{94,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{64,113}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,29},{64,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,222},{68,111}}</string>
                <key>offset</key>
                <string>{9,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,31},{68,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{84,111}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,31},{84,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,481},{94,91}}</string>
                <key>offset</key>
                <string>{-17,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,51},{94,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,514},{92,75}}</string>
                <key>offset</key>
                <string>{-18,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,65},{92,75}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,385},{94,97}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,44},{94,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,133}}</string>
                <key>offset</key>
                <string>{13,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,8},{66,133}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,503},{72,81}}</string>
                <key>offset</key>
                <string>{20,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,59},{72,81}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,555},{72,77}}</string>
                <key>offset</key>
                <string>{21,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,63},{72,77}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,354},{70,79}}</string>
                <key>offset</key>
                <string>{19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,61},{70,79}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>hm_03_attack_a_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,435},{66,83}}</string>
                <key>offset</key>
                <string>{15,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,57},{66,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hm_03_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8eabdef49c4d3d87e7580a99030b781$</string>
            <key>textureFileName</key>
            <string>hm_03_2.png</string>
        </dict>
    </dict>
</plist>
