<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rd_emotion_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,301},{38,45}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,91},{38,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,104},{46,45}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,91},{46,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{44,43}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,93},{44,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,363},{42,43}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,96},{42,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{34,45}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,94},{34,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,386},{34,43}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,97},{34,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,134},{38,47}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,90},{38,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{44,47}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,90},{44,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,282},{42,45}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,93},{42,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,122},{42,47}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,94},{42,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{32,47}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,93},{32,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,174},{32,47}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,94},{32,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{40,49}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,88},{40,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,40},{46,49}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,88},{46,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,32},{46,49}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,89},{46,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,53},{42,49}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,90},{42,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{34,49}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,90},{34,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_emotion_a_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{32,49}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,91},{32,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,272},{18,47}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,87},{18,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,254},{18,47}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,87},{18,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_idle_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{18,47}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,87},{18,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,260},{20,47}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,88},{20,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_idle_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,250},{20,47}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,88},{20,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_idle_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,232},{20,47}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,88},{20,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,281},{18,47}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,88},{18,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_idle_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,236},{22,47}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,88},{22,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_idle_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{20,47}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,88},{20,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,213},{22,47}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,89},{22,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,259},{20,47}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,88},{20,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,350},{20,45}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,89},{20,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,80},{24,49}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,88},{24,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,72},{28,49}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,88},{28,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,200},{24,47}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,89},{24,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,341},{20,45}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,89},{20,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,226},{22,47}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,88},{22,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,292},{26,45}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,89},{26,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,326},{22,45}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,88},{22,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,374},{18,45}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,88},{18,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{22,45}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,88},{22,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,274},{26,45}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,89},{26,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,328},{22,45}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,89},{22,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,366},{18,45}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,89},{18,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,320},{22,45}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,89},{22,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,183},{28,47}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,90},{28,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,184},{26,47}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,89},{26,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{20,45}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,89},{20,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,212},{22,47}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,88},{22,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,208},{22,47}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,89},{22,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,352},{20,45}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,89},{20,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,344},{20,45}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,88},{20,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_move_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,88},{24,49}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,88},{24,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,237},{20,47}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,87},{20,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{24,45}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,89},{24,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,302},{24,45}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,90},{24,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,114},{18,49}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,87},{18,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,166},{32,47}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,89},{32,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,151},{30,47}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,89},{30,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,102},{18,49}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,88},{18,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,40},{30,49}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,88},{30,49}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{28,51}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,86},{28,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_b_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{32,43}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,99},{32,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_b_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,372},{34,43}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,100},{34,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_b_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,394},{32,43}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,100},{32,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_b_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,150},{32,47}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,95},{32,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_b_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,106},{42,47}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,95},{42,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_b_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{34,47}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,95},{34,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_b_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{36,51}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,90},{36,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_b_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,51}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,90},{42,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rd_work_b_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{36,51}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,90},{36,51}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rd_01.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a8e076b3e6df87f5c655c065db783d0$</string>
            <key>textureFileName</key>
            <string>rd_01.png</string>
        </dict>
    </dict>
</plist>
