<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rt_02_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,160},{24,27}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,106},{24,27}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,155},{30,29}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,114},{30,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{34,25}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,114},{34,25}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_attack_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,213},{28,27}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,118},{28,27}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_attack_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{30,23}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,116},{30,23}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_attack_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,127},{32,31}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,105},{32,31}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_attack_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{38,19}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,116},{38,19}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_attack_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{36,21}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,114},{36,21}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_attack_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,48},{36,19}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,117},{36,19}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_attack_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,23},{36,23}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,113},{36,23}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_attack_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{22,35}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,102},{22,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_attack_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,69},{34,29}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,106},{34,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_attack_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{26,33}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,104},{26,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_attack_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,68},{34,31}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,106},{34,31}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_attack_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,101},{24,33}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,104},{24,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_emotion_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,48},{18,35}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,99},{18,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,101},{18,33}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,101},{18,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,186},{28,25}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,114},{28,25}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,160},{28,21}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,112},{28,21}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,186},{28,25}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,109},{28,25}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{26,29}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,109},{26,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,25},{36,21}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,115},{36,21}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,25}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,108},{38,25}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,21}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,108},{38,21}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,132},{32,21}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,112},{32,21}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{28,29}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,108},{28,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{26,33}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,102},{26,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,100},{30,33}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,101},{30,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>rt_02_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,214},{28,27}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,107},{28,27}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rt_02.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2ecc5c01d864a4ed50c1b06beeb30e6$</string>
            <key>textureFileName</key>
            <string>rt_02.png</string>
        </dict>
    </dict>
</plist>
