<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wk_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,78},{48,42}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,85},{48,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,198},{42,42}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,85},{42,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,280},{36,42}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,84},{36,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,316},{32,38}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,85},{32,38}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,242},{42,38}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,84},{42,38}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,40},{54,40}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,84},{54,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{58,40}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,84},{58,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{56,38}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,85},{56,38}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{26,44}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,84},{26,44}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,316},{34,40}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,85},{34,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,318},{36,38}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,85},{36,38}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,276},{40,38}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,84},{40,38}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,284},{34,40}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,84},{34,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{32,38}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,84},{32,38}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,244},{40,40}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,84},{40,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,162},{42,42}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,85},{42,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{46,38}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,84},{46,38}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,38},{54,40}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,83},{54,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{58,40}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,84},{58,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,40}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,83},{58,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,40},{50,38}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,83},{50,38}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,204},{38,42}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,82},{38,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{34,42}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,82},{34,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_move_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,314},{34,40}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,84},{34,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,248},{36,42}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,82},{36,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,120},{36,46}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,78},{36,46}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,40},{48,44}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,80},{48,44}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,120},{32,42}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,82},{32,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,162},{44,42}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,82},{44,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,126},{44,42}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,82},{44,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,208},{42,40}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,84},{42,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,242},{40,40}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,84},{40,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,284},{36,40}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,84},{36,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{42,42}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,82},{42,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,44},{28,42}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,82},{28,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,240},{36,42}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,82},{36,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{38,48}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,76},{38,48}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,156},{42,44}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,80},{42,44}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,120},{42,46}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,78},{42,46}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,84},{42,46}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,78},{42,46}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{42,44}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,80},{42,44}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_a_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,168},{40,44}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,80},{40,44}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_b_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,282},{34,40}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,84},{34,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_b_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,78},{28,40}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,84},{28,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_b_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,86},{26,40}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,84},{26,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_b_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,204},{38,40}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,84},{38,40}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_b_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,78},{46,42}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,82},{46,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_b_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,204},{38,44}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,80},{38,44}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_b_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,162},{34,42}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,82},{34,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
            <key>wk_work_b_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{46,42}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,82},{46,42}}</string>
                <key>sourceSize</key>
                <string>{350,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wk_01.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28d1c4835b41ad69bd5d1616d50e6721$</string>
            <key>textureFileName</key>
            <string>wk_01.png</string>
        </dict>
    </dict>
</plist>
