<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wm_02_emotion_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{84,121}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,34},{84,121}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_emotion_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{86,119}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,37},{86,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_emotion_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,121}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,35},{86,121}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,88},{86,119}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,36},{86,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{84,121}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,34},{84,121}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,162},{72,119}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,38},{72,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,280},{72,115}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,40},{72,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{86,111}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,39},{86,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,512},{100,111}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,34},{100,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,690},{102,107}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,36},{102,107}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,662},{102,107}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,37},{102,107}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,708},{100,103}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,39},{100,103}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{84,113}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,38},{84,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{74,121}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,35},{74,121}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,88},{72,119}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,37},{72,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,538},{94,111}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,32},{94,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,450},{86,113}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,31},{86,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,504},{70,113}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,30},{70,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,182},{88,115}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,26},{88,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{92,115}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,28},{92,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,354},{94,113}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,30},{94,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,422},{88,113}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,30},{88,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,272},{68,115}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,29},{68,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,342},{88,113}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,30},{88,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{92,113}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,30},{92,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,78},{102,119}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,38},{102,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,324},{96,113}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,37},{96,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,576},{84,111}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,34},{84,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{74,109}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,35},{74,109}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,614},{74,111}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,35},{74,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,634},{72,111}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,37},{72,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,432},{70,113}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,35},{70,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,236},{86,115}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,35},{86,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{98,117}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,35},{98,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_move_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,176},{102,117}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,38},{102,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wm_02_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71ec2bdfcdcc2ce902723415f58093a8$</string>
            <key>textureFileName</key>
            <string>wm_02_1.png</string>
        </dict>
    </dict>
</plist>
