<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wm_02_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,76},{84,119}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,41},{84,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,510},{88,105}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,35},{88,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{96,109}}</string>
                <key>offset</key>
                <string>{-22,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,28},{96,109}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{90,117}}</string>
                <key>offset</key>
                <string>{-18,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,20},{90,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,164},{78,117}}</string>
                <key>offset</key>
                <string>{-11,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,20},{78,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,526},{70,97}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,40},{70,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,72},{90,119}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,53},{90,119}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,123}}</string>
                <key>offset</key>
                <string>{15,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,49},{90,123}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{88,123}}</string>
                <key>offset</key>
                <string>{12,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,45},{88,123}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,250},{74,117}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,32},{74,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{72,121}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,29},{72,121}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,92},{94,117}}</string>
                <key>offset</key>
                <string>{-28,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,26},{94,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{88,117}}</string>
                <key>offset</key>
                <string>{-23,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,26},{88,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,274},{72,117}}</string>
                <key>offset</key>
                <string>{-12,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,26},{72,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,496},{64,109}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,34},{64,109}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{84,115}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,38},{84,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,162},{86,117}}</string>
                <key>offset</key>
                <string>{16,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,35},{86,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,188},{84,117}}</string>
                <key>offset</key>
                <string>{12,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,35},{84,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,348},{84,115}}</string>
                <key>offset</key>
                <string>{5,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,37},{84,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,244},{76,117}}</string>
                <key>offset</key>
                <string>{-7,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,35},{76,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,434},{90,113}}</string>
                <key>offset</key>
                <string>{-19,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,39},{90,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,416},{92,113}}</string>
                <key>offset</key>
                <string>{-20,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,39},{92,113}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,412},{82,115}}</string>
                <key>offset</key>
                <string>{-13,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,37},{82,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{68,121}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,31},{68,121}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,326},{88,115}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,37},{88,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{90,115}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,37},{90,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_02_attack_a_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,322},{88,115}}</string>
                <key>offset</key>
                <string>{12,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,37},{88,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wm_02_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32f50ccfed9aafd70e7ea37b07fdbe92$</string>
            <key>textureFileName</key>
            <string>wm_02_2.png</string>
        </dict>
    </dict>
</plist>
