<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wm_01_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,168},{84,103}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,57},{84,103}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,430},{88,85}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,55},{88,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,272},{94,87}}</string>
                <key>offset</key>
                <string>{-23,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,50},{94,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{88,117}}</string>
                <key>offset</key>
                <string>{-19,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,20},{88,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{78,117}}</string>
                <key>offset</key>
                <string>{-12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,20},{78,117}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,176},{66,97}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,40},{66,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,76},{90,109}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,63},{90,109}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{90,111}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,61},{90,111}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,92},{88,109}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,59},{88,109}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,176},{74,89}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,60},{74,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,267},{72,93}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,57},{72,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{94,85}}</string>
                <key>offset</key>
                <string>{-28,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,58},{94,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,182},{88,99}}</string>
                <key>offset</key>
                <string>{-23,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,44},{88,99}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{72,115}}</string>
                <key>offset</key>
                <string>{-12,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,28},{72,115}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{60,109}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,34},{60,109}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,447},{84,85}}</string>
                <key>offset</key>
                <string>{16,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,68},{84,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,434},{86,85}}</string>
                <key>offset</key>
                <string>{16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,67},{86,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{84,89}}</string>
                <key>offset</key>
                <string>{12,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,63},{84,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,361},{84,93}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,59},{84,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{72,97}}</string>
                <key>offset</key>
                <string>{-8,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,55},{72,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,254},{88,95}}</string>
                <key>offset</key>
                <string>{-20,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,57},{88,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,244},{92,95}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,57},{92,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,94},{80,105}}</string>
                <key>offset</key>
                <string>{-13,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,47},{80,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,121}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,31},{64,121}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,344},{88,93}}</string>
                <key>offset</key>
                <string>{15,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,59},{88,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,338},{90,93}}</string>
                <key>offset</key>
                <string>{15,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,59},{90,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_attack_a_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,362},{88,93}}</string>
                <key>offset</key>
                <string>{12,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,59},{88,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wm_01_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:200ae78ebf3e3a3bd7249b3a809b86fe$</string>
            <key>textureFileName</key>
            <string>wm_01_2.png</string>
        </dict>
    </dict>
</plist>
