<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wm_01_emotion_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{84,105}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,50},{84,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_emotion_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,88},{86,103}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,53},{86,103}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_emotion_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,105}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,51},{86,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,78},{86,103}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,52},{86,103}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{84,105}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,50},{84,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{72,103}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,54},{72,103}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,187},{72,101}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,54},{72,101}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,352},{86,97}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,53},{86,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,259},{100,95}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,50},{100,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,166},{102,91}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,52},{102,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{102,91}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,53},{102,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,261},{100,89}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,53},{100,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,273},{84,99}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,52},{84,99}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{74,105}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,51},{74,105}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{72,103}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,53},{72,103}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{94,83}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,60},{94,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,537},{86,85}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,59},{86,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{70,85}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,58},{70,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,518},{88,85}}</string>
                <key>offset</key>
                <string>{3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,56},{88,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,440},{92,87}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,56},{92,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,271},{94,85}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,58},{94,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,444},{88,85}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,58},{88,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,529},{68,87}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,57},{68,87}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,184},{88,85}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,58},{88,85}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,452},{92,83}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,60},{92,83}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,88},{102,97}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,60},{102,97}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,359},{96,91}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,59},{96,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,358},{84,89}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,56},{84,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,93},{74,89}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,55},{74,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{74,89}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,57},{74,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,444},{72,89}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,59},{72,89}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{70,91}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,57},{70,91}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,356},{86,93}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,57},{86,93}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{98,95}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,57},{98,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wm_01_move_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,176},{102,95}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,60},{102,95}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wm_01_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d8b23d85cd18bdeeca09f9ebd027098$</string>
            <key>textureFileName</key>
            <string>wm_01_1.png</string>
        </dict>
    </dict>
</plist>
