<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wr_03_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,214},{24,41}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,99},{24,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,316},{28,37}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,99},{28,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,477},{32,33}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,100},{32,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{28,43}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,90},{28,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,166},{30,41}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,92},{30,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,426},{24,39}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,94},{24,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,94},{28,43}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,101},{28,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{28,39}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,105},{28,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,424},{30,37}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,107},{30,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,344},{26,39}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,102},{26,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,224},{22,41}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,97},{22,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,228},{22,41}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,96},{22,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,198},{24,41}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,94},{24,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{34,45}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,90},{34,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{38,45}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,90},{38,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,92},{26,43}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,92},{26,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{38,41}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,94},{38,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,240},{36,39}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,96},{36,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,246},{38,39}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,96},{38,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{34,39}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,96},{34,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,436},{26,39}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,97},{26,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,166},{28,41}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,95},{28,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,124},{22,43}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,93},{22,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{30,43}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,93},{30,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{28,41}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,95},{28,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,144},{30,41}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,95},{30,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,42},{32,43}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,93},{32,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{32,45}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,91},{32,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,28},{32,45}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,91},{32,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_a_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,62},{30,43}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,93},{30,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,196},{24,41}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,99},{24,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,184},{28,41}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,100},{28,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,222},{22,41}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,101},{22,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,395},{26,39}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,100},{26,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,463},{28,37}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,99},{28,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,284},{30,39}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,97},{30,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,477},{32,33}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,101},{32,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,379},{30,33}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,105},{30,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,379},{32,31}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,106},{32,31}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,414},{28,33}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,103},{28,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,204},{22,41}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,97},{22,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,137},{24,41}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,97},{24,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{30,41}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,97},{30,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,216},{34,37}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,98},{34,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,342},{36,35}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,100},{36,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,467},{22,39}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,97},{22,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,282},{32,39}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,98},{32,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,316},{26,37}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,100},{26,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{28,39}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,99},{28,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,76},{28,43}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,97},{28,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,354},{26,39}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,97},{26,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,284},{30,39}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,97},{30,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,128},{36,41}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,95},{36,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,36},{36,43}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,93},{36,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{32,33}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,103},{32,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,180},{34,37}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,99},{34,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,286},{28,39}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,97},{28,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,74},{28,43}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,95},{28,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,32},{28,45}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,94},{28,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_attack_b_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,106},{22,43}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,94},{22,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_emotion_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{28,45}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,90},{28,45}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_emotion_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,62},{28,43}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,92},{28,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{24,47}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,91},{24,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,47}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,91},{24,47}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,344},{24,39}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,99},{24,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,436},{26,39}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,98},{26,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,463},{30,37}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,96},{30,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,252},{30,39}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,97},{30,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,176},{26,41}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,98},{26,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,385},{24,39}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,99},{24,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,316},{24,37}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,96},{24,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,385},{24,39}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,96},{24,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{26,39}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,95},{26,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{22,41}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,94},{22,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,120},{22,43}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,91},{22,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,104},{22,43}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,94},{22,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,92},{22,43}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,95},{22,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,252},{30,39}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,94},{30,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{32,39}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,92},{32,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,424},{30,37}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,95},{30,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,278},{32,39}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,95},{32,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{30,39}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,93},{30,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,312},{30,39}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,92},{30,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,344},{30,37}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,95},{30,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,248},{32,39}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,95},{32,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,148},{34,41}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,93},{34,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,130},{34,41}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,92},{34,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_03_move_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,385},{32,37}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,96},{32,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wr_03.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d74348bb828829853b4d214f4edb36bd$</string>
            <key>textureFileName</key>
            <string>wr_03.png</string>
        </dict>
    </dict>
</plist>
