<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wr_01_attack_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,276},{22,37}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,103},{22,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,348},{28,33}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,103},{28,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,374},{32,31}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,102},{32,31}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,43}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,90},{28,43}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{28,41}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,92},{28,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,334},{22,33}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,100},{22,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,112},{26,39}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,105},{26,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,234},{28,37}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,107},{28,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{28,37}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,107},{28,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,392},{24,35}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,106},{24,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,150},{20,39}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,99},{20,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{20,39}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,98},{20,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,264},{22,37}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,98},{22,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{32,41}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,94},{32,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{34,41}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,94},{34,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,112},{26,39}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,96},{26,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,198},{34,37}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,98},{34,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,182},{34,37}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,98},{34,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,40},{34,35}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,100},{34,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{30,37}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,98},{30,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,372},{26,35}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,101},{26,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,238},{28,37}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,99},{28,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,124},{24,39}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,97},{24,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,110},{26,39}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,97},{26,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,346},{26,35}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,101},{26,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,236},{28,37}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,99},{28,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,62},{30,39}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,97},{30,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{30,41}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,95},{30,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{30,41}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,95},{30,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_a_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{28,39}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,97},{28,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,252},{22,37}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,103},{22,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,96},{28,39}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,103},{28,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,60},{22,41}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,101},{22,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{22,39}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,101},{22,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,268},{26,37}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,99},{26,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,206},{30,37}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,100},{30,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,387},{32,29}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,105},{32,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{30,29}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,108},{30,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,378},{32,29}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,108},{32,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,400},{28,29}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,107},{28,29}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,150},{20,39}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,99},{20,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,126},{22,39}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,99},{22,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,232},{28,37}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,100},{28,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{36,35}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,100},{36,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,296},{36,33}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,102},{36,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,294},{20,37}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,99},{20,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,172},{32,37}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,101},{32,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,406},{26,33}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,104},{26,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,334},{28,35}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,103},{28,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,94},{28,39}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,101},{28,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,364},{26,35}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,101},{26,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,204},{30,37}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,99},{30,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,58},{36,39}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,97},{36,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{34,39}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,97},{34,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{32,31}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,105},{32,31}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,312},{32,35}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,101},{32,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{28,35}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,101},{28,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,82},{28,39}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,99},{28,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,34},{26,41}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,98},{26,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_attack_b_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,160},{20,39}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,98},{20,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_emotion_a_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,32},{26,41}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,94},{26,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_emotion_a_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,266},{26,37}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,98},{26,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,58},{22,41}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,97},{22,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_idle_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,34},{22,41}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,97},{22,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,290},{20,37}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,101},{20,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{24,37}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,100},{24,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,316},{30,35}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,98},{30,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,200},{30,37}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,99},{30,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,84},{26,39}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,101},{26,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,288},{20,37}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,101},{20,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,361},{24,33}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,100},{24,33}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,369},{24,35}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,100},{24,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,262},{26,37}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,97},{26,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,140},{20,39}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,95},{20,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,140},{20,39}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,95},{20,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,38},{18,41}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,96},{18,41}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,138},{20,39}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,99},{20,39}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,172},{30,37}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,96},{30,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,218},{32,37}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,94},{32,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,310},{32,35}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,97},{32,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,300},{32,35}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,99},{32,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{30,37}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,95},{30,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,344},{26,35}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,96},{26,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,331},{28,35}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,97},{28,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{32,35}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,99},{32,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,162},{36,37}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,97},{36,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,162},{34,37}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,96},{34,37}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
            <key>wr_01_move_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,76},{32,35}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,98},{32,35}}</string>
                <key>sourceSize</key>
                <string>{350,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wr_01.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08a87ae4b25f73b0eb7dbdf4c422e401$</string>
            <key>textureFileName</key>
            <string>wr_01.png</string>
        </dict>
    </dict>
</plist>
