<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_ggs_08_c_a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,104},{98,126}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,23},{98,126}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_08_c_a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{98,122}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,27},{98,122}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_08_c_a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,208},{116,114}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,35},{116,114}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_08_c_a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,108}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{140,108}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_08_c_a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,100}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,49},{140,100}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_08_c_a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,104}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,45},{140,104}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_08_c_a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,204},{116,114}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,35},{116,114}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_08_c_a0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,204},{98,120}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,29},{98,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_08_c_a0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,108},{98,124}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,26},{98,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grdguardshort_08.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07d0ceca9515bb8e344f6813ec2963e8$</string>
            <key>textureFileName</key>
            <string>grdguardshort_08.png</string>
        </dict>
    </dict>
</plist>
