<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_ggs_02_c_a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{72,80}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,60},{72,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_02_c_a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,76},{72,80}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,60},{72,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_02_c_a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,76},{72,78}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,62},{72,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_02_c_a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{72,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,66},{72,74}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_02_c_a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,150},{74,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,70},{74,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_02_c_a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,158},{72,78}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,62},{72,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_02_c_a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,86}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,54},{72,86}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_02_c_a0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{72,90}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,50},{72,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_02_c_a0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,92}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,48},{72,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grdguardshort_02.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd84ade64f318e4a975fdadafa5cc541$</string>
            <key>textureFileName</key>
            <string>grdguardshort_02.png</string>
        </dict>
    </dict>
</plist>
