<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_ggs_01_c_a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,70},{72,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_01_c_a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,70},{72,70}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_01_c_a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,74},{72,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,72},{72,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_01_c_a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,144},{72,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,76},{72,64}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_01_c_a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,144},{72,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,78},{72,62}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_01_c_a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,74},{72,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,72},{72,68}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_01_c_a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{72,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{72,74}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_01_c_a0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{72,78}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,62},{72,78}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_01_c_a0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,80}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,60},{72,80}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grdguardshort_01.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b89af8e860ada6f070a4999bc3b8e5a5$</string>
            <key>textureFileName</key>
            <string>grdguardshort_01.png</string>
        </dict>
    </dict>
</plist>
