<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_ggs_07_c_a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,260},{98,122}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,27},{98,122}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_07_c_a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{98,120}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,29},{98,120}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_07_c_a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{116,112}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,37},{116,112}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_07_c_a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{138,98}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,51},{138,98}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_07_c_a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,90}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,59},{140,90}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_07_c_a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{138,102}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,47},{138,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_07_c_a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,142},{116,112}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,37},{116,112}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_07_c_a0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,360},{98,118}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,31},{98,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_07_c_a0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{98,122}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,28},{98,122}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grdguardshort_07.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb79d8384e58379d343ea5c207aaa824$</string>
            <key>textureFileName</key>
            <string>grdguardshort_07.png</string>
        </dict>
    </dict>
</plist>
