<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_ggs_06_c_a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{78,102}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,40},{78,102}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_06_c_a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,244},{78,100}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,42},{78,100}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_06_c_a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,324},{98,92}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,50},{98,92}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_06_c_a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,82}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,60},{116,82}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_06_c_a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,86},{116,76}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,66},{116,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_06_c_a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,88}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,54},{116,88}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_06_c_a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{98,98}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,44},{98,98}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_06_c_a0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,164},{78,104}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,38},{78,104}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>a_ggs_06_c_a0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{78,106}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,36},{78,106}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grdguardshort_06.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92ec1ff6274ef9e138ce443f6839c19a$</string>
            <key>textureFileName</key>
            <string>grdguardshort_06.png</string>
        </dict>
    </dict>
</plist>
