<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_mm_07_a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,270},{50,54}}</string>
                <key>offset</key>
                <string>{50,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,124},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>b_mm_07_a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,218},{50,56}}</string>
                <key>offset</key>
                <string>{50,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,121},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>b_mm_07_a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,110},{50,66}}</string>
                <key>offset</key>
                <string>{50,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,111},{50,66}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>b_mm_07_a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,56},{52,66}}</string>
                <key>offset</key>
                <string>{49,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,112},{52,66}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>b_mm_07_a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{52,72}}</string>
                <key>offset</key>
                <string>{49,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,105},{52,72}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>b_mm_07_a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,162},{54,60}}</string>
                <key>offset</key>
                <string>{54,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,117},{54,60}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>b_mm_07_a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{48,48}}</string>
                <key>offset</key>
                <string>{51,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,132},{48,48}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>b_mm_07_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{166,152}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,48},{166,152}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>b_mm_07_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,172}}</string>
                <key>offset</key>
                <string>{29,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,11},{140,172}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>b_mm_mana_07_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,298},{30,32}}</string>
                <key>offset</key>
                <string>{76,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,137},{30,32}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>b_mm_mana_07_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,298},{30,36}}</string>
                <key>offset</key>
                <string>{76,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,133},{30,36}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>b_mm_mana_07_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,298},{42,36}}</string>
                <key>offset</key>
                <string>{77,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,133},{42,36}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>manamine_07.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a888ed7d9f34c2915eb78616446aa400$</string>
            <key>textureFileName</key>
            <string>manamine_07.png</string>
        </dict>
    </dict>
</plist>
