<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_gm_08_a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,179},{34,91}}</string>
                <key>offset</key>
                <string>{48,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,56},{34,91}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>b_gm_08_a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,70},{36,107}}</string>
                <key>offset</key>
                <string>{47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,57},{36,107}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>b_gm_08_a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{30,113}}</string>
                <key>offset</key>
                <string>{46,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,57},{30,113}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>b_gm_08_a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,185},{26,113}}</string>
                <key>offset</key>
                <string>{48,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,56},{26,113}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>b_gm_08_a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{26,111}}</string>
                <key>offset</key>
                <string>{49,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,57},{26,111}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>b_gm_08_a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,70},{22,113}}</string>
                <key>offset</key>
                <string>{48,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,57},{22,113}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>b_gm_08_a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,190},{30,91}}</string>
                <key>offset</key>
                <string>{47,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,56},{30,91}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>b_gm_08_a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,190},{34,89}}</string>
                <key>offset</key>
                <string>{48,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,56},{34,89}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>b_gm_08_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,186}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{188,186}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>b_gm_08_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{98,88}}</string>
                <key>offset</key>
                <string>{8,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,98},{98,88}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>b_gmgm_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,41},{24,17}}</string>
                <key>offset</key>
                <string>{67,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,157},{24,17}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>b_gmgm_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,41},{42,27}}</string>
                <key>offset</key>
                <string>{71,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,152},{42,27}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>b_gmgm_03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{52,37}}</string>
                <key>offset</key>
                <string>{73,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,149},{52,37}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldmine_08.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9af88a503ed3877d4fe0da764a79bcae$</string>
            <key>textureFileName</key>
            <string>goldmine_08.png</string>
        </dict>
    </dict>
</plist>
