<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>earth_base0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {91, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 96}</string>
			<key>spriteSourceSize</key>
			<string>{103, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 687}, {103, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_base1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {110, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 68}</string>
			<key>spriteSourceSize</key>
			<string>{120, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{861, 110}, {120, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_base2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {186, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 200}</string>
			<key>spriteSourceSize</key>
			<string>{194, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{550, 485}, {194, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_base3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {227, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{237, 208}</string>
			<key>spriteSourceSize</key>
			<string>{237, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{622, 0}, {237, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_base4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 7}, {207, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{213, 76}</string>
			<key>spriteSourceSize</key>
			<string>{213, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{571, 407}, {213, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_base5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {166, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{186, 147}</string>
			<key>spriteSourceSize</key>
			<string>{186, 147}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{746, 646}, {186, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_base6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 1}, {109, 212}}</string>
			<key>spriteOffset</key>
			<string>{-6, 1}</string>
			<key>spriteSize</key>
			<string>{109, 212}</string>
			<key>spriteSourceSize</key>
			<string>{145, 216}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 795}, {109, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_bssz.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {105, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 83}</string>
			<key>spriteSourceSize</key>
			<string>{113, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{213, 564}, {113, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_business.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {345, 225}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{351, 235}</string>
			<key>spriteSourceSize</key>
			<string>{351, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {351, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_bxsj.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 11}, {113, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 50}</string>
			<key>spriteSourceSize</key>
			<string>{115, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{213, 512}, {115, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_greatwall.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {194, 171}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{216, 185}</string>
			<key>spriteSourceSize</key>
			<string>{216, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{353, 251}, {216, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_hmtx.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {98, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 92}</string>
			<key>spriteSourceSize</key>
			<string>{106, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{105, 687}, {106, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_house.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 7}, {141, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{177, 170}</string>
			<key>spriteSourceSize</key>
			<string>{177, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{845, 474}, {177, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_icehouse.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {203, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{227, 195}</string>
			<key>spriteSourceSize</key>
			<string>{227, 195}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{622, 210}, {227, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_lasvegas.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {236, 261}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{254, 273}</string>
			<key>spriteSourceSize</key>
			<string>{254, 273}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 237}, {254, 273}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_lswj.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {83, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{95, 106}</string>
			<key>spriteSourceSize</key>
			<string>{95, 106}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{256, 345}, {95, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_myIsland.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {195, 214}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{195, 214}</string>
			<key>spriteSourceSize</key>
			<string>{211, 216}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{353, 438}, {195, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_pyramid.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 11}, {251, 231}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{267, 249}</string>
			<key>spriteSourceSize</key>
			<string>{267, 249}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{353, 0}, {267, 249}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_sandcastle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 8}, {124, 171}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 189}</string>
			<key>spriteSourceSize</key>
			<string>{170, 189}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{851, 283}, {170, 189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_smhd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 111}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{57, 111}</string>
			<key>spriteSourceSize</key>
			<string>{61, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{786, 407}, {57, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_stfq.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {111, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 68}</string>
			<key>spriteSourceSize</key>
			<string>{113, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 582}, {113, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_sun.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {114, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 108}</string>
			<key>spriteSourceSize</key>
			<string>{120, 108}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{861, 0}, {120, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_white_fog.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 101}</string>
			<key>spriteSourceSize</key>
			<string>{116, 101}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{861, 180}, {116, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_wlcc.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {87, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{95, 106}</string>
			<key>spriteSourceSize</key>
			<string>{95, 106}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{256, 237}, {95, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_ycdd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {107, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 68}</string>
			<key>spriteSourceSize</key>
			<string>{113, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 512}, {113, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth_zsgk.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {109, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 68}</string>
			<key>spriteSourceSize</key>
			<string>{113, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{213, 649}, {113, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>earth.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>earth</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>earth</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>