<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>announcement.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {133, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{137, 49}</string>
			<key>spriteSourceSize</key>
			<string>{137, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{201, 736}, {137, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ask_for_memeber.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {148, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{148, 37}</string>
			<key>spriteSourceSize</key>
			<string>{148, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{844, 735}, {148, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>award_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 42}, {116, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 78}</string>
			<key>spriteSourceSize</key>
			<string>{116, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{119, 931}, {116, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ban.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {184, 208}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 208}</string>
			<key>spriteSourceSize</key>
			<string>{184, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{832, 0}, {184, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baoxiangTip01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{17, 70}</string>
			<key>spriteSourceSize</key>
			<string>{17, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{806, 35}, {17, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baoxiangTip02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 70}</string>
			<key>spriteSourceSize</key>
			<string>{40, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{390, 225}, {40, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>basebackground.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {342, 400}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{342, 400}</string>
			<key>spriteSourceSize</key>
			<string>{342, 400}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 281}, {342, 400}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottomScore.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {74, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 39}</string>
			<key>spriteSourceSize</key>
			<string>{78, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{632, 984}, {78, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>broadcast_background.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {830, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{830, 33}</string>
			<key>spriteSourceSize</key>
			<string>{830, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {830, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>broadcast_horn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 35}</string>
			<key>spriteSourceSize</key>
			<string>{35, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 281}, {35, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_ lottery.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {191, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{213, 89}</string>
			<key>spriteSourceSize</key>
			<string>{213, 89}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{806, 210}, {213, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_activity.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{69, 100}</string>
			<key>spriteSourceSize</key>
			<string>{69, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 297}, {69, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_blank.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {172, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 70}</string>
			<key>spriteSourceSize</key>
			<string>{172, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 683}, {172, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_buy_coin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {108, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{112, 55}</string>
			<key>spriteSourceSize</key>
			<string>{112, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{698, 926}, {112, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_buy_member.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255, 77}</string>
			<key>spriteSourceSize</key>
			<string>{255, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 628}, {255, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_common_back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {327, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{327, 129}</string>
			<key>spriteSourceSize</key>
			<string>{327, 129}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 330}, {327, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {55, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 77}</string>
			<key>spriteSourceSize</key>
			<string>{73, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{317, 925}, {73, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_rank.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 95}</string>
			<key>spriteSourceSize</key>
			<string>{78, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{237, 925}, {78, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_word_cancel.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {148, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 57}</string>
			<key>spriteSourceSize</key>
			<string>{152, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{690, 697}, {152, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_word_quit.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {146, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 56}</string>
			<key>spriteSourceSize</key>
			<string>{150, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{546, 926}, {150, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_word_sure.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {150, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 57}</string>
			<key>spriteSourceSize</key>
			<string>{152, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{392, 925}, {152, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_yellow.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {206, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{210, 86}</string>
			<key>spriteSourceSize</key>
			<string>{210, 86}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{806, 301}, {210, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buy_member_line.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {146, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{146, 1}</string>
			<key>spriteSourceSize</key>
			<string>{146, 1}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 755}, {146, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buy_member_point.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{14, 14}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{806, 107}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buy_member_word.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 37}</string>
			<key>spriteSourceSize</key>
			<string>{144, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{858, 774}, {144, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>careerFail_button.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{292, 120}</string>
			<key>spriteSourceSize</key>
			<string>{292, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{727, 575}, {292, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>careerSuc_button.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{292, 120}</string>
			<key>spriteSourceSize</key>
			<string>{292, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 506}, {292, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>career_shop_buy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {110, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 47}</string>
			<key>spriteSourceSize</key>
			<string>{116, 47}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 707}, {116, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coins_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {199, 171}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{199, 171}</string>
			<key>spriteSourceSize</key>
			<string>{199, 171}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 758}, {199, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>common_dialog2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 168}</string>
			<key>spriteSourceSize</key>
			<string>{166, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{546, 756}, {166, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>common_word_shop.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {115, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 41}</string>
			<key>spriteSourceSize</key>
			<string>{115, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{712, 983}, {115, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>diamond_bag.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 20}, {136, 144}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{136, 144}</string>
			<key>spriteSourceSize</key>
			<string>{188, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 758}, {136, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>diamond_white.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {86, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{86, 36}</string>
			<key>spriteSourceSize</key>
			<string>{90, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{931, 895}, {86, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>diamond_yellow.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {86, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{86, 36}</string>
			<key>spriteSourceSize</key>
			<string>{90, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{931, 857}, {86, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>everyday_login_coins.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {183, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{203, 136}</string>
			<key>spriteSourceSize</key>
			<string>{203, 136}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{201, 787}, {203, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>everyday_login_coinsbg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {117, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{117, 92}</string>
			<key>spriteSourceSize</key>
			<string>{117, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 931}, {117, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>everyday_login_member.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {233, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{233, 184}</string>
			<key>spriteSourceSize</key>
			<string>{233, 184}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{781, 389}, {233, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>everyday_login_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {448, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{450, 66}</string>
			<key>spriteSourceSize</key>
			<string>{450, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 35}, {450, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldCoin_shortage.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {155, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 36}</string>
			<key>spriteSourceSize</key>
			<string>{155, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{844, 697}, {155, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>has_receive.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {108, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{108, 107}</string>
			<key>spriteSourceSize</key>
			<string>{108, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{714, 756}, {108, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loading.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {351, 256}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{351, 266}</string>
			<key>spriteSourceSize</key>
			<string>{351, 266}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 35}, {351, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loading_tiao.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {429, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{429, 37}</string>
			<key>spriteSourceSize</key>
			<string>{429, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 103}, {429, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>member_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {50, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 55}</string>
			<key>spriteSourceSize</key>
			<string>{52, 55}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{390, 168}, {52, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mission_gay_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {310, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{310, 43}</string>
			<key>spriteSourceSize</key>
			<string>{310, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 461}, {310, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mission_type_gamecounts.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 88}</string>
			<key>spriteSourceSize</key>
			<string>{87, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 579}, {87, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mission_type_silverBean.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 88}</string>
			<key>spriteSourceSize</key>
			<string>{87, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 489}, {87, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mission_type_time.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 88}</string>
			<key>spriteSourceSize</key>
			<string>{87, 88}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 399}, {87, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>multiple.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {74, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{78, 39}</string>
			<key>spriteSourceSize</key>
			<string>{78, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{552, 984}, {78, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mute_bg_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {142, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 42}</string>
			<key>spriteSourceSize</key>
			<string>{142, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{714, 865}, {142, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mute_bg_on.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {142, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{142, 42}</string>
			<key>spriteSourceSize</key>
			<string>{142, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{824, 813}, {142, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>progressHUD_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {388, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{388, 111}</string>
			<key>spriteSourceSize</key>
			<string>{388, 111}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 168}, {388, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>quick_buy_word.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {156, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{158, 40}</string>
			<key>spriteSourceSize</key>
			<string>{158, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{392, 984}, {158, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>quick_shop_coin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 37}</string>
			<key>spriteSourceSize</key>
			<string>{71, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{858, 857}, {71, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>quick_shop_silver.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 41}</string>
			<key>spriteSourceSize</key>
			<string>{75, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{812, 909}, {75, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>setting_mute_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {74, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 47}</string>
			<key>spriteSourceSize</key>
			<string>{74, 47}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{551, 707}, {74, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>settlement_timeFrame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {165, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 51}</string>
			<key>spriteSourceSize</key>
			<string>{165, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{174, 683}, {165, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tiao04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {415, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{415, 24}</string>
			<key>spriteSourceSize</key>
			<string>{415, 24}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 142}, {415, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip_frame_close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 87}</string>
			<key>spriteSourceSize</key>
			<string>{87, 87}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 669}, {87, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>global.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>global</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>global</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>