<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>1000_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{477, 889}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>1001_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{395, 889}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>1002_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 930}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>1003_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{313, 930}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>2001_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{313, 848}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>2002_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 80}</string>
			<key>spriteSourceSize</key>
			<string>{79, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{721, 912}, {79, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>2003_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{559, 830}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>3001_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 848}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>3002_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 79}</string>
			<key>spriteSourceSize</key>
			<string>{80, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{802, 902}, {80, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>3003_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 80}</string>
			<key>spriteSourceSize</key>
			<string>{79, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{640, 912}, {79, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>3004_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 80}</string>
			<key>spriteSourceSize</key>
			<string>{79, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{641, 830}, {79, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>4001_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 80}</string>
			<key>spriteSourceSize</key>
			<string>{79, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{559, 912}, {79, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>4002_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 79}</string>
			<key>spriteSourceSize</key>
			<string>{80, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{722, 821}, {80, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>4003_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 567}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>4004_hornor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 567}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Duijiang_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {147, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 48}</string>
			<key>spriteSourceSize</key>
			<string>{155, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{862, 288}, {155, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Duijiang_select.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {147, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 48}</string>
			<key>spriteSourceSize</key>
			<string>{155, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{862, 238}, {155, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>about_game_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {149, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{149, 38}</string>
			<key>spriteSourceSize</key>
			<string>{149, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{536, 790}, {149, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>about_game_select.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {149, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{149, 38}</string>
			<key>spriteSourceSize</key>
			<string>{149, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{385, 789}, {149, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>announce01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 10}, {209, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 144}</string>
			<key>spriteSourceSize</key>
			<string>{217, 144}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{348, 584}, {217, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>announce02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {217, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 144}</string>
			<key>spriteSourceSize</key>
			<string>{217, 144}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 421}, {217, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attend_match_txt.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 45}</string>
			<key>spriteSourceSize</key>
			<string>{176, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{825, 466}, {176, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>award_image1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 58}</string>
			<key>spriteSourceSize</key>
			<string>{88, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 788}, {88, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>award_image2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 58}</string>
			<key>spriteSourceSize</key>
			<string>{88, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{884, 777}, {88, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>award_image3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 58}</string>
			<key>spriteSourceSize</key>
			<string>{88, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{804, 837}, {88, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>award_image4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 58}</string>
			<key>spriteSourceSize</key>
			<string>{88, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{395, 829}, {88, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>award_image5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {80, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 64}</string>
			<key>spriteSourceSize</key>
			<string>{88, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 653}, {88, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>award_image6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {84, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 58}</string>
			<key>spriteSourceSize</key>
			<string>{88, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 728}, {88, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>award_image7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {84, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 64}</string>
			<key>spriteSourceSize</key>
			<string>{88, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 653}, {88, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>award_image8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {86, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 64}</string>
			<key>spriteSourceSize</key>
			<string>{88, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 653}, {88, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>award_image9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {86, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 74}</string>
			<key>spriteSourceSize</key>
			<string>{88, 74}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{265, 456}, {88, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>award_record_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {149, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 46}</string>
			<key>spriteSourceSize</key>
			<string>{155, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{399, 469}, {155, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>award_record_select.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {149, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 46}</string>
			<key>spriteSourceSize</key>
			<string>{155, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{406, 373}, {155, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{205, 57}</string>
			<key>spriteSourceSize</key>
			<string>{205, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{321, 730}, {205, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_selected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {203, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{203, 56}</string>
			<key>spriteSourceSize</key>
			<string>{203, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{777, 719}, {203, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>changes_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {274, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{274, 40}</string>
			<key>spriteSourceSize</key>
			<string>{274, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 278}, {274, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>check_box.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 53}</string>
			<key>spriteSourceSize</key>
			<string>{62, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{321, 789}, {62, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>check_box_gray.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 53}</string>
			<key>spriteSourceSize</key>
			<string>{62, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 567}, {62, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>check_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {84, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{92, 71}</string>
			<key>spriteSourceSize</key>
			<string>{92, 71}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{273, 341}, {92, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>designation.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 40}</string>
			<key>spriteSourceSize</key>
			<string>{37, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{367, 350}, {37, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dialog_input_frame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {441, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{441, 53}</string>
			<key>spriteSourceSize</key>
			<string>{441, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 5}, {441, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>duihuanjuan.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 36}</string>
			<key>spriteSourceSize</key>
			<string>{42, 36}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{383, 216}, {42, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frame_award.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {256, 338}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{256, 338}</string>
			<key>spriteSourceSize</key>
			<string>{256, 338}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{567, 344}, {256, 338}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_rule_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {148, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{148, 37}</string>
			<key>spriteSourceSize</key>
			<string>{148, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{417, 334}, {148, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_rule_select.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {148, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{148, 37}</string>
			<key>spriteSourceSize</key>
			<string>{148, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{395, 971}, {148, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 40}</string>
			<key>spriteSourceSize</key>
			<string>{39, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{376, 308}, {39, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {293, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{293, 114}</string>
			<key>spriteSourceSize</key>
			<string>{293, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{567, 228}, {293, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gold_icon1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {440, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{440, 115}</string>
			<key>spriteSourceSize</key>
			<string>{440, 115}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 60}, {440, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>honour_finish.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{84, 68}</string>
			<key>spriteSourceSize</key>
			<string>{84, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{688, 751}, {84, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>honour_status.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {153, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{153, 63}</string>
			<key>spriteSourceSize</key>
			<string>{153, 63}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{825, 513}, {153, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>input.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 52}</string>
			<key>spriteSourceSize</key>
			<string>{39, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{383, 254}, {39, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 45}</string>
			<key>spriteSourceSize</key>
			<string>{33, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{364, 438}, {33, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {294, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{300, 33}</string>
			<key>spriteSourceSize</key>
			<string>{300, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{571, 159}, {300, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level_introduce_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {148, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 37}</string>
			<key>spriteSourceSize</key>
			<string>{150, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{536, 751}, {150, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level_introduce_select.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {148, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 37}</string>
			<key>spriteSourceSize</key>
			<string>{150, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{825, 658}, {150, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level_progress.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {298, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{300, 32}</string>
			<key>spriteSourceSize</key>
			<string>{300, 32}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{571, 194}, {300, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>login_left_image.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {128, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 78}</string>
			<key>spriteSourceSize</key>
			<string>{128, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{443, 5}, {128, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>login_register_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {123, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 53}</string>
			<key>spriteSourceSize</key>
			<string>{127, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{442, 85}, {127, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>login_right_image.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {118, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{126, 53}</string>
			<key>spriteSourceSize</key>
			<string>{126, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{424, 279}, {126, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>login_start_game.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {125, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{127, 53}</string>
			<key>spriteSourceSize</key>
			<string>{127, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{442, 140}, {127, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>login_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {441, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{443, 157}</string>
			<key>spriteSourceSize</key>
			<string>{443, 157}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{573, 0}, {443, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matchActiveBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {113, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 34}</string>
			<key>spriteSourceSize</key>
			<string>{115, 34}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 617}, {115, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matchActiveBtn_fireMotion_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {28, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 39}</string>
			<key>spriteSourceSize</key>
			<string>{32, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{977, 678}, {32, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matchActiveBtn_fireMotion_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {28, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 39}</string>
			<key>spriteSourceSize</key>
			<string>{32, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 462}, {32, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matchActiveBtn_fireMotion_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {28, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 39}</string>
			<key>spriteSourceSize</key>
			<string>{32, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{825, 344}, {32, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matchActiveBtn_fireMotion_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 39}</string>
			<key>spriteSourceSize</key>
			<string>{32, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 421}, {32, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>match_detail_leftbg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {229, 273}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{229, 273}</string>
			<key>spriteSourceSize</key>
			<string>{229, 273}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 719}, {229, 273}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>match_detail_sign.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {271, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{271, 99}</string>
			<key>spriteSourceSize</key>
			<string>{271, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 320}, {271, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>match_detail_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {148, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 38}</string>
			<key>spriteSourceSize</key>
			<string>{150, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{825, 578}, {150, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>match_end_back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 210}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 210}</string>
			<key>spriteSourceSize</key>
			<string>{21, 210}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1003, 466}, {21, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>match_end_bottom.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 73}</string>
			<key>spriteSourceSize</key>
			<string>{73, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 653}, {73, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>match_end_confirm.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{116, 41}</string>
			<key>spriteSourceSize</key>
			<string>{116, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 532}, {116, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>match_end_congratulation.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {208, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{208, 65}</string>
			<key>spriteSourceSize</key>
			<string>{208, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{355, 517}, {208, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>match_end_get.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {115, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 40}</string>
			<key>spriteSourceSize</key>
			<string>{115, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 575}, {115, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>match_end_lf.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {199, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{199, 78}</string>
			<key>spriteSourceSize</key>
			<string>{199, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{825, 386}, {199, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>match_end_rf.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {151, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{151, 77}</string>
			<key>spriteSourceSize</key>
			<string>{151, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{873, 159}, {151, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>match_end_sorry.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {208, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{208, 65}</string>
			<key>spriteSourceSize</key>
			<string>{208, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{567, 684}, {208, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>match_end_yun.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{98, 61}</string>
			<key>spriteSourceSize</key>
			<string>{98, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{276, 278}, {98, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>match_info_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {83, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{89, 40}</string>
			<key>spriteSourceSize</key>
			<string>{89, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{273, 414}, {89, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>math_detail_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {148, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 38}</string>
			<key>spriteSourceSize</key>
			<string>{150, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{825, 618}, {150, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>my_award_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {147, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 46}</string>
			<key>spriteSourceSize</key>
			<string>{155, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{862, 338}, {155, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>my_award_select.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {147, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 46}</string>
			<key>spriteSourceSize</key>
			<string>{155, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{405, 421}, {155, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nickname.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 44}</string>
			<key>spriteSourceSize</key>
			<string>{36, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{367, 392}, {36, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>odds.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{43, 37}</string>
			<key>spriteSourceSize</key>
			<string>{43, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{383, 177}, {43, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_arrows.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {18, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 28}</string>
			<key>spriteSourceSize</key>
			<string>{20, 28}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{980, 513}, {20, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>register_female.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {64, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 69}</string>
			<key>spriteSourceSize</key>
			<string>{68, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{884, 897}, {68, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>register_male.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 69}</string>
			<key>spriteSourceSize</key>
			<string>{68, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{954, 837}, {68, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>register_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {381, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{381, 99}</string>
			<key>spriteSourceSize</key>
			<string>{381, 99}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 177}, {381, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>separator_line.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {571, 3}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{571, 3}</string>
			<key>spriteSourceSize</key>
			<string>{571, 3}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {571, 3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shop_word_coin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{137, 40}</string>
			<key>spriteSourceSize</key>
			<string>{137, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{427, 237}, {137, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shop_word_coin_down.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {115, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{137, 40}</string>
			<key>spriteSourceSize</key>
			<string>{137, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{428, 195}, {137, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>matchdetail.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>match_detail</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>match_detail</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>