<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>award_intro_white.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {146, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{146, 37}</string>
			<key>spriteSourceSize</key>
			<string>{154, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 729}, {146, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>award_intro_yellow.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {146, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{146, 37}</string>
			<key>spriteSourceSize</key>
			<string>{154, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 768}, {146, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>awarded.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{125, 39}</string>
			<key>spriteSourceSize</key>
			<string>{125, 39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{528, 688}, {125, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bankruptcy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {251, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{275, 148}</string>
			<key>spriteSourceSize</key>
			<string>{275, 148}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 324}, {275, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_green.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {194, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 83}</string>
			<key>spriteSourceSize</key>
			<string>{194, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{305, 474}, {194, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buy_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 40}</string>
			<key>spriteSourceSize</key>
			<string>{103, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{119, 324}, {103, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chargeRecordFont.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {159, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{159, 42}</string>
			<key>spriteSourceSize</key>
			<string>{167, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{443, 871}, {159, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>connect_mark.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {120, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{120, 62}</string>
			<key>spriteSourceSize</key>
			<string>{126, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 624}, {120, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expSprite.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {161, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{161, 70}</string>
			<key>spriteSourceSize</key>
			<string>{161, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 813}, {161, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>failure.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 177}</string>
			<key>spriteSourceSize</key>
			<string>{176, 177}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{834, 383}, {176, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>getAward.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {158, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{162, 42}</string>
			<key>spriteSourceSize</key>
			<string>{162, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{802, 624}, {162, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hot_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{70, 329}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>levelUp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {318, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{324, 67}</string>
			<key>spriteSourceSize</key>
			<string>{324, 67}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{508, 329}, {324, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>luckyBagLight.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 12}, {128, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 140}</string>
			<key>spriteSourceSize</key>
			<string>{140, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{394, 729}, {140, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lucky_bag_open.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {170, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 120}</string>
			<key>spriteSourceSize</key>
			<string>{170, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{133, 896}, {170, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lucky_bag_star.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {56, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 93}</string>
			<key>spriteSourceSize</key>
			<string>{80, 93}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{924, 195}, {80, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mall_activity1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 90}</string>
			<key>spriteSourceSize</key>
			<string>{52, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 537}, {52, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mall_activity2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 90}</string>
			<key>spriteSourceSize</key>
			<string>{52, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 721}, {52, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mall_activity3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 91}</string>
			<key>spriteSourceSize</key>
			<string>{70, 91}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{924, 290}, {70, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mall_activity4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 90}</string>
			<key>spriteSourceSize</key>
			<string>{52, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{474, 624}, {52, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mall_activity5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 90}</string>
			<key>spriteSourceSize</key>
			<string>{52, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 629}, {52, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mall_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {229, 511}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{229, 511}</string>
			<key>spriteSourceSize</key>
			<string>{229, 511}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 383}, {229, 511}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mall_coin_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {131, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{131, 123}</string>
			<key>spriteSourceSize</key>
			<string>{131, 123}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 896}, {131, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mall_member_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{136, 136}</string>
			<key>spriteSourceSize</key>
			<string>{136, 136}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{305, 885}, {136, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mall_member_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{86, 37}</string>
			<key>spriteSourceSize</key>
			<string>{86, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{924, 156}, {86, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mall_member_select.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{86, 37}</string>
			<key>spriteSourceSize</key>
			<string>{86, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{924, 117}, {86, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mall_tips.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{68, 52}</string>
			<key>spriteSourceSize</key>
			<string>{68, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 329}, {68, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mall_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {236, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{236, 60}</string>
			<key>spriteSourceSize</key>
			<string>{236, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{781, 562}, {236, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nowUpdate.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {160, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{162, 42}</string>
			<key>spriteSourceSize</key>
			<string>{162, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{802, 668}, {162, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>phone_charge_font.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {63, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 61}</string>
			<key>spriteSourceSize</key>
			<string>{71, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 474}, {63, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_daily_font_w.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {148, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{148, 37}</string>
			<key>spriteSourceSize</key>
			<string>{154, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{593, 954}, {148, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_daily_font_y.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {148, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{148, 37}</string>
			<key>spriteSourceSize</key>
			<string>{154, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{593, 915}, {148, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_week_font_w.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {148, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{148, 37}</string>
			<key>spriteSourceSize</key>
			<string>{154, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{443, 954}, {148, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rank_week_font_y.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {148, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{148, 37}</string>
			<key>spriteSourceSize</key>
			<string>{154, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{443, 915}, {148, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>reward_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {404, 202}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{408, 210}</string>
			<key>spriteSourceSize</key>
			<string>{408, 210}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{514, 117}, {408, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>reward_box.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {267, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{271, 210}</string>
			<key>spriteSourceSize</key>
			<string>{271, 210}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{508, 398}, {271, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>reward_silver.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {38, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 42}</string>
			<key>spriteSourceSize</key>
			<string>{40, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{781, 478}, {40, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>reward_star.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {30, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{34, 31}</string>
			<key>spriteSourceSize</key>
			<string>{34, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{781, 522}, {34, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>reward_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {137, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{139, 41}</string>
			<key>spriteSourceSize</key>
			<string>{139, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{655, 669}, {139, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>settlement_bj.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {512, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{512, 186}</string>
			<key>spriteSourceSize</key>
			<string>{512, 186}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {512, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>settlement_bottomFrame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {499, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{499, 115}</string>
			<key>spriteSourceSize</key>
			<string>{499, 115}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{514, 0}, {499, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>settlement_gou.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 43}</string>
			<key>spriteSourceSize</key>
			<string>{58, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{834, 329}, {58, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>settlement_shadow.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {512, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{512, 134}</string>
			<key>spriteSourceSize</key>
			<string>{512, 134}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 188}, {512, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>settlement_task.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 78}</string>
			<key>spriteSourceSize</key>
			<string>{40, 78}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{781, 398}, {40, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>updateBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {144, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{150, 43}</string>
			<key>spriteSourceSize</key>
			<string>{150, 43}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{650, 624}, {150, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>victory.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {167, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{167, 168}</string>
			<key>spriteSourceSize</key>
			<string>{167, 168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{305, 559}, {167, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>settle_ment.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>settle_ment</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>settle_ment</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>