<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_gd_03_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,158}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{186,158}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>b_gd_03_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{106,98}}</string>
                <key>offset</key>
                <string>{16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,65},{106,98}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>b_gmg_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,162},{38,22}}</string>
                <key>offset</key>
                <string>{16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,59},{38,22}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>b_gmg_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,88},{50,30}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,57},{50,30}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>b_gmg_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,120},{76,44}}</string>
                <key>offset</key>
                <string>{17,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,43},{76,44}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>b_gmg_04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{84,56}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,31},{84,56}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>b_gmg_05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,198},{98,92}}</string>
                <key>offset</key>
                <string>{17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,4},{98,92}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>golddepot_03.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cddb332b97fa26f0f99ca168b37ca435$</string>
            <key>textureFileName</key>
            <string>golddepot_03.png</string>
        </dict>
    </dict>
</plist>
