<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_gd_09_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,164}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{186,164}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>b_gd_09_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{116,98}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,65},{116,98}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>b_gmg_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,168},{38,22}}</string>
                <key>offset</key>
                <string>{16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,59},{38,22}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>b_gmg_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,88},{50,30}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,57},{50,30}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>b_gmg_03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,120},{76,44}}</string>
                <key>offset</key>
                <string>{17,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,43},{76,44}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>b_gmg_04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{84,56}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,31},{84,56}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>b_gmg_05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,198},{98,92}}</string>
                <key>offset</key>
                <string>{17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,4},{98,92}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>golddepot_09.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01083879d9d79a7ce047097e3b98282a$</string>
            <key>textureFileName</key>
            <string>golddepot_09.png</string>
        </dict>
    </dict>
</plist>
