<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="ExcelGenerator"
            class="cn.javaplus.plugins.generator.excel.preferences.SamplePreferencePage"
            id="mxzcodegenerator.preferences.SamplePreferencePage">
      </page>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="cn.javaplus.plugins.generator.excel.preferences.PreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.ui.startup">
      <startup
      		 class="cn.javaplus.plugins.generator.excel.startup.Startup">
      </startup>
   </extension>

	<extension
	      point="org.eclipse.ui.console.consoleFactories">
	   <consoleFactory
	    class="cn.javaplus.plugins.console.ConsoleFactory"
	         label="ExcelGenerator">
	   </consoleFactory>
	</extension>


	<extension
	         point="org.eclipse.ui.actionSets">
	      <actionSet
	            label="生成全部"
	            visible="true"
	            id="cn.javaplus.excel">
	         <action
	               label="生成全部(&amp;S)"
	               icon="icons/example.gif"
	               class="cn.javaplus.plugins.generator.excel.GenerateAll"
	               tooltip="生成所有配置表"
	               menubarPath="sampleMenu/sampleGroup"
	               toolbarPath="sampleGroup"
	               id="cn.javaplus.plugins.generator.excel.GenerateAll">
	         </action>
	      </actionSet>
	   </extension>

</plugin>
