<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_ggl_04_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,164}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{208,164}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>a_ggl_04_canon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{98,146}}</string>
                <key>offset</key>
                <string>{21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,5},{98,146}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>a_ggl_04_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{170,88}}</string>
                <key>offset</key>
                <string>{21,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,104},{170,88}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grdguardlong_04.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bc0139d69072716dcdfb6e242674d3a$</string>
            <key>textureFileName</key>
            <string>grdguardlong_04.png</string>
        </dict>
    </dict>
</plist>
