<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_ggl_02_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,148}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,45},{200,148}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>a_ggl_02_canon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{86,142}}</string>
                <key>offset</key>
                <string>{21,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,9},{86,142}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>a_ggl_02_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{168,88}}</string>
                <key>offset</key>
                <string>{21,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,104},{168,88}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grdguardlong_02.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1669b9a14e3cd5ca9c6a50dfcb22782$</string>
            <key>textureFileName</key>
            <string>grdguardlong_02.png</string>
        </dict>
    </dict>
</plist>
