<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_md_09_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,184}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{222,184}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_md_09_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,144},{162,102}}</string>
                <key>offset</key>
                <string>{22,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{162,102}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,186},{90,46}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,42},{90,46}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{108,64}}</string>
                <key>offset</key>
                <string>{23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,46},{108,64}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,120},{128,122}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,27},{128,122}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{136,118}}</string>
                <key>offset</key>
                <string>{21,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,3},{136,118}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{146,142}}</string>
                <key>offset</key>
                <string>{20,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,5},{146,142}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>manadepot_09.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af9faf7c47fc88f2d1f5062c0ea5730c$</string>
            <key>textureFileName</key>
            <string>manadepot_09.png</string>
        </dict>
    </dict>
</plist>
