<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_md_04_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,178}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{210,178}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_md_04_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,146},{162,96}}</string>
                <key>offset</key>
                <string>{22,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,84},{162,96}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,182},{90,46}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,42},{90,46}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{108,64}}</string>
                <key>offset</key>
                <string>{23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,46},{108,64}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,122},{128,122}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,27},{128,122}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{136,118}}</string>
                <key>offset</key>
                <string>{21,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,3},{136,118}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{146,142}}</string>
                <key>offset</key>
                <string>{20,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,5},{146,142}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>manadepot_04.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b23b330f5ef99ad8d19f8eb2dce69771$</string>
            <key>textureFileName</key>
            <string>manadepot_04.png</string>
        </dict>
    </dict>
</plist>
