<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_md_07_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,184}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{220,184}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_md_07_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,146},{162,102}}</string>
                <key>offset</key>
                <string>{22,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{162,102}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,188},{90,46}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,42},{90,46}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{108,64}}</string>
                <key>offset</key>
                <string>{23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,46},{108,64}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,122},{128,122}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,27},{128,122}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{136,118}}</string>
                <key>offset</key>
                <string>{21,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,3},{136,118}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{146,142}}</string>
                <key>offset</key>
                <string>{20,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,5},{146,142}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>manadepot_07.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3866ba55d6c4910af73c2e673a503d10$</string>
            <key>textureFileName</key>
            <string>manadepot_07.png</string>
        </dict>
    </dict>
</plist>
