<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_md_11_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,184}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{222,184}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_md_11_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{162,120}}</string>
                <key>offset</key>
                <string>{22,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,60},{162,120}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{90,46}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,42},{90,46}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,264},{108,64}}</string>
                <key>offset</key>
                <string>{23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,46},{108,64}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,140},{128,122}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,27},{128,122}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{136,118}}</string>
                <key>offset</key>
                <string>{21,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,3},{136,118}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>b_mdm_05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,124},{146,142}}</string>
                <key>offset</key>
                <string>{20,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,5},{146,142}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>manadepot_11.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b521cab5c53395789a1be429c19c0392$</string>
            <key>textureFileName</key>
            <string>manadepot_11.png</string>
        </dict>
    </dict>
</plist>
