<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,36},{69,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,32}}</string>
                <key>sourceSize</key>
                <string>{69,32}</string>
            </dict>
            <key>button_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{69,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,32}}</string>
                <key>sourceSize</key>
                <string>{69,32}</string>
            </dict>
            <key>login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,250}}</string>
                <key>sourceSize</key>
                <string>{436,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LoginUI.png</string>
            <key>size</key>
            <string>{511,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6b8b9413c4673aa43aaf42a2c129d20$</string>
            <key>textureFileName</key>
            <string>LoginUI.png</string>
        </dict>
    </dict>
</plist>
