<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_d_05_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,110},{108,76}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{108,76}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_05_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,436},{90,76}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{90,76}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_05_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,442},{76,70}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{76,70}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_05_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{94,76}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{94,76}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_06_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,0},{108,74}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{108,74}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_06_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,350},{92,76}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{92,76}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_06_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,74},{80,70}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,27},{80,70}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_06_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,186},{96,76}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{96,76}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_07_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{110,76}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{110,76}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_07_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,186},{92,76}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{92,76}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_07_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,278},{82,72}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{82,72}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_07_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{96,76}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{96,76}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_08_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,78}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{110,78}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_08_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,262},{94,78}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{94,78}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_08_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,356},{82,80}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{82,80}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_08_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{108,78}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{108,78}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>b_d_0508.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6b84cc64d30a95d8a3a138366670808$</string>
            <key>textureFileName</key>
            <string>b_d_0508.png</string>
        </dict>
    </dict>
</plist>
