<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_d_09_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,86},{98,74}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{98,74}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_09_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{80,74}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{80,74}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_09_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,248},{74,74}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{74,74}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_09_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{92,74}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{92,74}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_10_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,82}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{102,82}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_10_b_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{80,42}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{80,42}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_10_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,82}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{102,82}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_10_l_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,148},{60,42}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{60,42}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_10_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{98,82}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{98,82}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_10_n_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,210},{42,42}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,13},{42,42}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_10_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,162},{96,84}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{96,84}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_10_r_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,84},{62,42}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,13},{62,42}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>b_d_0912.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bab15f99793f8941f602a74e05ef480c$</string>
            <key>textureFileName</key>
            <string>b_d_0912.png</string>
        </dict>
    </dict>
</plist>
