<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_d_01_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,84},{98,72}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{98,72}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_01_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{86,76}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,23},{86,76}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_01_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,170},{70,60}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,36},{70,60}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_01_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,82},{88,74}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{88,74}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_02_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{104,82}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{104,82}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_02_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,162},{94,80}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{94,80}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_02_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,170},{84,70}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,30},{84,70}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_02_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,82},{96,80}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{96,80}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_03_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{112,82}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{112,82}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_03_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,162},{94,80}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,19},{94,80}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_03_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,156},{94,70}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,31},{94,70}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_03_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{108,82}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{108,82}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_04_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,88}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{116,88}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_04_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{98,84}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{98,84}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_04_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,98},{88,72}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{88,72}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>b_d_04_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{98,82}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{98,82}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>b_d_0104.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc5fe9c385df2c152b4edea6e6915690$</string>
            <key>textureFileName</key>
            <string>b_d_0104.png</string>
        </dict>
    </dict>
</plist>
